/* -*- coding: utf-8 -*- */

html {
  background-color: #ffffff;
  color: #212327;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: inherit;
}

iframe {
  border: none;
}

img {
  display: block;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;
}

textarea {
  font-family: "PT Mono", monospace;
}

input {
  font-family: "PT Mono", monospace;
}

a {
  /* color: #9c54f4; */
  text-decoration: none;
}

a:focus,
a:hover {
  /* color: #9c54f4; */
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.telephone {
  white-space: nowrap;
}

.header-bg {
  background: transparent url("../images/hero-bg-1883x207.png") 0 0 no-repeat;
  height: 277px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-1650px, 0);
  width: 1883px;
  z-index: -100;
}

.index-header-bg {
  background: transparent url("../images/hero-bg2a-1883x825.png") 0 0 no-repeat;
  display: none;
  height: 825px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-1650px, 0);
  width: 1883px;
  z-index: -100;
}

#percent-ten-day .header-bg,
#trialofferone .header-bg,
#index .header-bg {
  display: none;
}

#percent-ten-day .index-header-bg,
#trialofferone .index-header-bg,
#index .index-header-bg {
  display: block;
}

#how-it-works .header-bg {
  background: transparent url("../images/hero-bg3-1885x641.png") 0 0 no-repeat;
  height: 641px;
  top: 0;
  transform: translate(-1650px, 0);
  width: 1885px;
}

#header .header-container {
  height: 150px;
  margin: 0 auto;
  position: relative;
  width: 960px;
}

#header .header-tab-bg {
  background-color: rgba(0,0,255,0.1);
  height: 65px;
  left: -500px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 510px;
}

#header .mcp-logo {
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: 800;
  height: 65px;
  left: 10px;
  padding-top: 10px;
  position: absolute;
  width: 200px;
}

#header .mcm-logo {
  background-color: rgba(0,0,255,0.2);
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: 800;
  height: 65px;
  left: 215px;
  opacity: 0.5;
  padding-top: 18px;
  position: absolute;
  top: 0;
  width: 200px;
}

#header .mci-logo {
  background-color: rgba(0,0,255,0.2);
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: 800;
  height: 65px;
  left: 420px;
  opacity: 0.5;
  padding-top: 15px;
  position: absolute;
  top: 0;
  width: 200px;
}

#header .mcp-logo img {
  height: 41px;
  margin: 0 auto;
  width: 168px;
}

#header .mcm-logo img {
  height: 30px;
  margin: 0 auto;
  width: 175px;
}

#header .mci-logo img {
  height: 38px;
  margin: 0 auto;
  width: 158px;
}

#header .top-btn {
  text-align: center;
  position: absolute;
  right: -20px;
  top: 32px;
}

#header .top-btn .top-btn-oval {
  border-radius: 50px;
  border: 2px solid #00df73;
  height: 79px;
  position: relative;
  width: 242px;
}

#header .top-btn .customer-support {
  color: #646464;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

#header .top-btn .phone-icon {
  height: 29px;
  left: 12px;
  position: absolute;
  top: 22px;
  width: 29px;
}

#header .top-btn .telephone {
  color: #00df73;
  display: block;
  font-size: 20px;
  font-weight: 800;
  margin-top: -5px;
  padding-left: 10px;
}

#header .top-btn .layer-24 {
  background-color: #ffffff;
  border-radius: 12px;
  color: #00df73;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  height: 25px;
  position: absolute;
  right: -15px;
  top: 24px;
}

#header .top-btn .special-offers-when {
  color: #bbbbbb;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.2;
  padding-left: 10px;
}

#main > :last-child {
  padding-bottom: 30px;
}

#main .main-container {
  box-shadow: 0 48px 40px rgba(0, 0, 0, 0.02);
}

#main .main-container > * {
  margin: 0 auto 0;
  width: 960px;
}

#main .main-title {
  color: #2f1453;
  font-size: 46px;
  font-weight: 800;
  margin-top: 30px;
  padding: 0;
  text-align: center;
}

#main .main-abstract {
  font-size: 18px;
  margin: 30px auto 0;
  text-align: center;
}

#main .chapter {
  margin-top: 55px;
}

#main .abstract {
  font-size: 15px;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: justify;
}

#main .title {
  color: #2f1453;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

#main .subtitle {
  color: #2f1453;
  font-size: 18px;
  font-weight: 700;
}

#main .abstract {
  font-size: 16px;
  text-align: center;
}

#main .detail {
  font-size: 16px;
  text-align: justify;
}

#main .call-button,
#main .download-button {
  background-color: #00df73;
  border-radius: 31px;
  box-shadow: 0 7px 19px rgba(0, 171, 88, 0.57);
  display: block;
  height: 61px;
  position: relative;
  width: 300px;
}

#main .call-button:focus,
#main .call-button:hover,
#main .download-button:focus,
#main .download-button:hover {
  color: #ffffff;
}

#main .call-button {
  width: 270px;
}

#main .download-now-button {
  width: 306px;
}

#main .download-for-free-button {
  width: 306px;
}

#main .call-button .download-icon,
#main .download-button .download-icon {
  align-items: center;
  background-color: #20d47d;
  border-radius: 31px;
  display: flex;
  height: 61px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 61px;
}

#main .call-button .download-text,
#main .download-button .download-text {
  color: #ffffff;
  font-size: 22px;
  font-weight: 800;
  padding-top: 14px;
  padding-left: 30px;
  text-align: center;
  white-space: nowrap;
}

#main .call-button .download-text {
  padding-top: 12px;
  font-size: 24px;
}

#main .rating-reviewer a {
  display: inline-block;
  height: 60px;
  margin: auto;
  overflow: hidden;
  text-align: center;
  width: 170px;
}

#main .rating-reviewer img {
  filter: grayscale(1);
}

#main .rating-reviewer:hover img {
  filter: none;
}

#main .rating-reviewer .rating-logo {
  display: block;
  margin: 0 auto auto;
}

#main .rating-reviewer .rating-score {
  display: block;
  margin: auto auto 0;
}

#main #rating-highya .rating-score {
  margin: 5px auto 0;
}

#main #google-safe-browsing a {
  padding-top: 3px;
  text-decoration: none;
}

#main #google-safe-browsing .click-here {
  color: #777777;
  font-size: 11px;
  padding-left: 15px;
  text-align: center;
}

#main #rating-consumeraffairs .rating-logo {
  margin: 10px auto 0;
}

#main #rating-consumeraffairs .rating-score {
  margin: 10px auto 0;
}

#main #rating-trustpilot .rating-score {
  margin: 5px auto 0;
}

#main #rating-ekomi2 .reviewer-window {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#main #rating-ekomi2 .rating-score {
  filter: grayscale(1) invert(1) contrast(0.3);
}

#main #rating-ekomi2:hover .rating-score {
  filter: none;
}

#main #rating-ekomi2 .rating-text {
  color: #555555;
  font-size: 11px;
  padding-top: 10px;
  text-align: center;
  white-space: nowrap;
}

#footer {
  background-color: #6a52c4;
  color: #ffffff;
  font-size: 13px;
}

#footer a {
  color: #ffffff;
}

#footer .footer-container {
  margin: 0 auto 0;
  padding-bottom: 120px;
  padding-top: 60px;
  width: 1080px;
}

#footer .footer-logo {
  width: 180px;
}

#footer .footer-body {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#footer .footer-left {
  width: 480px;
}

#footer .footer-center {
  width: 300px;
}

#footer .footer-right {
  width: 120px;
}

#footer .powered-by {
  display: block;
  margin-bottom: 5px;
  padding-top: 6px;
  width: 150px;
}

#footer address {
  font-style: normal;
}

#footer .nav-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 13px;
  height: 24em;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0 0 1.5em 0;
}

#footer .nav-list li {
  line-height: 1.5;
  margin-bottom: 1.5em;
  white-space: nowrap;
}

#index #footer .footer-nav .index a,
#comparison #footer .footer-nav .comparison a,
#how-it-works #footer .footer-nav .how-it-works a,
#user-reviews #footer .footer-nav .user-reviews a,
#articles #footer .footer-nav .articles a,
#faq #footer .footer-nav .faq a,
#contact-us #footer .footer-nav .contact-us a,
#compliance #footer .footer-nav .compliance a,
#affiliates #footer .footer-nav .affiliates a,
#uninstall #footer .footer-nav .uninstall a,
#eula #footer .footer-nav .eula a,
#privacy-policy #footer .footer-nav .privacy-policy a,
#terms-of-service #footer .footer-nav .terms-of-service a {
  color: #ffffff;
  cursor: default;
  text-decoration: none;
}

#footer .disclaimer {
  padding-right: 30px;
  text-align: justify;
}

#footer .copyright {
  margin-top: 1.5em;
}

#footer .credits {
  padding-left: 30px;
  text-align: center;
  width: 120px;
}

#footer .credit {
  padding-bottom: 15px;
}

#footer .credit a {
  display: block;
  margin: 0 auto;
  width: 90px;
}

#footer .credit img {
  filter: grayscale(1);
  margin: 0 auto;
  width: auto;
}

#footer .credit:hover img {
  filter: none;
}

#footer .appesteem img {
  height: auto;
  width: 90px;
}

#footer .trustwave img {
  height: auto;
  width: 90px;
}

#footer .bbb img {
  height: auto;
  width: 90px;
}

#footer .geotrust img {
  height: auto;
  width: 90px;
}

#ekomi-reviews {
  display: flex;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 120px;
  transform: translate(-40px, 0);
  width: 1060px;
}

#ekomi-reviews .ekomi-reviews-left {
  background: transparent url("../images/stre-left.png") 50% 90px no-repeat;
  cursor: pointer;
  width: 50px;
}

#ekomi-reviews .ekomi-reviews-right {
  background: transparent url("../images/stre-right.png") 50% 90px no-repeat;
  cursor: pointer;
  width: 50px;
}

#ekomi-reviews .ekomi-reviews-viewarea {
  overflow: hidden;
  width: 960px;
}

#ekomi-user-reviews .ekomi-review-link,
#ekomi-reviews .ekomi-review-link {
  color: #313a47;
  display: block;
  width: 90px;
}

#ekomi-user-reviews .ekomi-review-link:hover,
#ekomi-user-reviews .ekomi-review-link:focus,
#ekomi-reviews .ekomi-review-link:hover,
#ekomi-reviews .ekomi-review-link:focus {
  color: #313a47;
  text-decoration: none;
}

#ekomi-reviews .ekomi-reviews-container {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  position: relative;
  min-width: 960px;
}

#ekomi-user-reviews .ekomi-reviews-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#ekomi-user-reviews .ekomi-review {
  margin-top: 30px;
}

#ekomi-user-reviews .ekomi-review,
#ekomi-reviews .ekomi-review {
  background: transparent url("../images/review-balloon.png") 0px 0px no-repeat;
  border-radius: 20px;
  height: 290px;
  padding: 10px 0 0 10px;
  position: relative;
  width: 480px;
}

#ekomi-user-reviews .ekomi-review-seal,
#ekomi-reviews .ekomi-review-seal {
  position: relative;
}

#ekomi-user-reviews .ekomi-review-rating,
#ekomi-reviews .ekomi-review-rating {
  color: #2f1453;
  font-size: 21px;
  font-weight: 700;
  margin: -55px auto auto 100px;
  white-space: nowrap;
}

#ekomi-user-reviews .ekomi-review-stars,
#ekomi-reviews .ekomi-review-stars {
  /* color: #646464; */
  font-size: 16px;
  font-weight: 400;
  margin: 5px auto auto 100px;
}

#ekomi-user-reviews .ekomi-review-comment,
#ekomi-reviews .ekomi-review-comment {
  color: #646464;
  font-size: 16px;
  font-weight: 400;
  margin: 5px auto auto 45px;
  width: 405px;
}

#ekomi-user-reviews .ekomi-review-date {
  color: #2f1453;
  font-size: 14px;
  font-weight: 700;
  margin: 5px auto 0px 100px;
}

#ekomi-reviews .ekomi-review-date {
  bottom: 0;
  color: #2f1453;
  font-size: 14px;
  font-weight: 700;
  margin: auto auto 0px 100px;
  position: absolute;
}

#main .easy-steps {
  padding-top: 120px;
}

#main .easy-steps .title {
  font-size: 36px;
  font-weight: 800;
}

#main .easy-steps .steps-container {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 120px;
}

#main .easy-steps .step-image {
  padding-right: 40px;
}

#main .easy-steps .step-image img {
  margin: 0 auto;
}

#main .easy-steps .step {
  width: 280px;
}

#main .easy-steps .subtitle {
  margin-top: 30px;
  text-align: center;
}

#main .easy-steps .detail {
  margin-top: 30px;
  text-align: center;
}

#main .final-cta {
  padding-bottom: 120px;
  padding-top: 120px;
}

#main .final-cta .title {
  color: #2f1453;
  font-size: 46px;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
  width: 600px;
}

#main .final-cta .download-button {
  margin: 40px auto 0;
}

#index #main .main-header {
  height: 650px;
  position: relative;
}

#index #main .main-title {
  color: #ffffff;
  margin: 25px 0 0 10px;
  text-align: left;
  width: 540px;
}

#index #main .main-abstract {
  color: #ffffff;
  font-size: 24px;
  margin: 40px 0 0 10px;
  text-align: left;
  width: 480px;
}

#index #main .top-container2 .main-header {
  height: auto;
  padding-bottom: 60px;
}

#index #main .top-container2 .main-title,
#index #main .top-container2 .main-abstract {
  color: #2f1453;
}

#index #main .top-container2 .rating-reviewer a {
  width: auto;
}

#index #main .main-header .download-button {
  margin: 60px 0 0 0;
}

#index #main .hero-bill {
  position: absolute;
  right: 0;
  top: -30px;
  z-index: -1;
}

#index #main .hero-sam {
  position: absolute;
  right: -210px;
  top: -30px;
  z-index: -1;
}

#index #main .hero-sam-text {
  color: #3e2166;
  margin: 30px auto 0;
  text-align: center;
  width: 390px;
}

#index #main .hero-sam-text-private {
  font-weight: bold;
}

#index #main .rating-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

#index #main .feature-container {
  background: transparent url("../images/feature-background.jpg") 50% 0 no-repeat;
  height: 677px;
  margin: 0 auto;
}

#index #main .features {
  margin: 0 auto 0;
  padding-left: 560px;
  padding-top: 100px;
  width: 960px;
}

#index #main .features .feature {
  margin-top: 20px;
}

#index #main .features .subtitle {
  color: #ffffff;
}

#index #main .features .detail {
  color: #ffffff;
}

#index #main .features .feature {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}

#index #main .features .feature-image {
  padding-right: 30px;
}

#index #main .features .feature-text .detail {
  text-align: justify;
}

#index #main .testimonials  {
  margin-top: 60px;
  padding-bottom: 120px;
}

#index #main .testimonials .testimonials-header .title {
  color: #797f87;
  font-size: 16px;
  text-align: center;
}

#index #main .testimonials .testimonials-header .detail {
  color: #454545;
  font-size: 24px;
  text-align: center;
}

#index #main .testimonials .testimonial-separator {
  background-color: #944cea;
  border-bottom: 1px solid #b752f1;
  border-left: 1px solid #944cea;
  border-right: 1px solid #944cea;
  border-top: 1px solid #7246e1;
  color: #944cea;
  height: 1px;
  margin: 40px auto;
  width: 42px;
}

#index #main .testimonials .testimonials-body {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

#index #main .testimonials .testimonial {
  height: 345px;
  position: relative;
  width: 292px;
}

#index #main .testimonials .testimonial-bg {
  background-color: #ffffff;
  box-shadow: 0 13px 17px rgba(0, 0, 0, 0.14);
  height: 292px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 292px;
  z-index: -1;
}

#index #main .testimonials .testimonial-bb {
  background-image: linear-gradient(270deg, #ca56f6 0%, #5f43de 100%);
  bottom: 0;
  height: 5px;
  left: 0;
  position: absolute;
  width: 292px;
  z-index: -1;
}

#index #main .testimonials .testimonial-portrait img {
  margin: 0 auto;
}

#index #main .testimonials .reviewer-window img {
  display: inline-block;
  margin: 0 10px 0 0;
}

#index #main .testimonials .reviewer-window {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

#index #main .testimonials .watch-video {
  color: #6a9ce4;
  font-size: 12px;
  font-weight: 700;
}

#index #main .testimonials .testimonial-quote {
  text-align: center;
}

#index #main .testimonials .testimonial-quote p {
  /* color: #646464; */
  font-size: 16px;
  margin: 5px auto 0;
}

#index #main .testimonials .testimonial-quote cite {
  color: #646464;
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin: 14px auto 0;
  white-space: nowrap;
}

#index #main .testimonials .testimonial-quote img {
  margin: 14px auto 0;
}

#index #main .facts {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 120px;
  padding-top: 60px;
  margin: 0 auto;
  width: 960px;
}

#index #main .facts .fact-copy {
  padding-top: 60px;
  width: 430px;
}

#index #main .facts .fact-image {
  align-items: flex-end;
  display: flex;
  height: 63px;
  justify-content: flex-start;
}

#index #main .facts .subtitle {
  margin-top: 15px;
}

#index #main .safety {
  padding-bottom: 60px;
  padding-top: 60px;
}

#index #main .safety-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#index #main .safety-text {
  width: 720px;
}

#index1 {
  color: #292a34;
}

#index1 #header {
  padding-top: 10px;
  text-align: center;
}

#index1 #header .logo img {
  display: inline-block;
}

#index1 .main-container {
  box-shadow: none;
}

#index1 .main-container-frame {
}

#index1 .main-frame {
  min-height: 900px;
  margin: 0 auto 0;
  position: relative;
  width: 960px;
}

#index1 .frame-bottom-left {
  bottom: 0;
  left: -120px;
  position: absolute;
  z-index: -1;
}

#index1 .frame-bottom-right {
  bottom: 0;
  right: -240px;
  position: absolute;
  transform: rotateY(180deg);
  z-index: -1;
}

#index1 .frame-top-left {
  left: -240px;
  position: absolute;
  top: 0;
  transform: rotateX(180deg);
  z-index: -1;
}

#index1 .frame-top-right {
  right: -240px;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  z-index: -1;
}

#index1 .main-header {
  margin: 0 auto;
  width: 960px;
}

#index1 .main-header .main-title {
  margin-top: 0;
  color: #292a34;
  font-size: 48px;
  font-weight: 800;
}

#index1 .main-header .cta {
  align-items: center;
  background-color: #0077ff;
  border-radius: 30px;
  box-shadow: 0 23px 38px rgba(0, 119, 255, 0.15);
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 30px auto 30px;
  text-align: center;
  width: 600px;
}

#index1 .main-header .cta a {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

#index1 .rating-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 30px;
  width: 840px;
}

#index1 .rating-container #google-safe-browsing {
  order: -1;
}

#index1 .rating-container #rating-highya {
  order: 1;
}

#index1 .rating-reviewer {
  opacity: 0.5;
}

#index1 .rating-reviewer:hover {
  opacity: 1;
}

#index1 .main-container-alt {
  background-color: #f8fafd;
}

#index1 .testimonials {
  padding-bottom: 45px;
  padding-top: 90px;
  position: relative;
}

#index1 .testimonials .title {
  color: #292a34;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

#index1 .testimonials .subtitle {
  color: #292a34;
  font-size: 32px;
  font-weight: 700;
  margin-top: 30px;
}

#index1 .testimonials-body {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
  padding-top: 60px;
}

#index1 .testimonial {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 11px 35px rgba(0, 0, 0, 0.05);
  padding: 30px;
  width: 300px;
}

#index1 .testimonial .stars {
  color: #0077ff;
  font-size: 18px;
}

#index1 .testimonial .quote {
  color: #4f5059;
  font-size: 16px;
  font-style: italic;
  margin-top: 15px;
}

#index1 .testimonial .reviewer-window {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

#index1 .testimonial .reviewer-cite {
  padding-left: 15px;
}

#index1 .testimonial .reviewer-name {
  color: #292a34;
  font-size: 16px;
  font-weight: 700;
}

#index1 .testimonial .reviewer-location {
  color: #878f9d;
  font-size: 14px;
}

#index1 #oval10 {
  background-image: linear-gradient(143deg, #3139ec 0%, #ff0061 100%);
  bottom: 0;
  height: 129px;
  left: 60px;
  opacity: 0.06;
  position: absolute;
  width: 132px;
}

#index1 #oval11 {
  background-image: linear-gradient(143deg, #3139ec 0%, #ff0061 100%);
  height: 50px;
  left: 600px;
  opacity: 0.06;
  position: absolute;
  top: 60px;
  width: 50px;
}

#index1 #oval12 {
  background-image: linear-gradient(143deg, #3139ec 0%, #ff0061 100%);
  height: 100px;
  left: 660px;
  opacity: 0.06;
  position: absolute;
  top: 120px;
  width: 100px;
}

#index1 .features {
  padding-bottom: 90px;
  padding-left: 480px;
  padding-top: 60px;
  position: relative;
  width: 960px;
}

#index1 .features .title {
  color: #292a34;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
}

#index1 .features .feature {
  align-items: center;
  border-left: 4px solid rgba(0, 119, 255, 0.15);
  box-shadow: 0 11px 35px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

#index1 .feature .feature-dash {
  color: #0077ff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  width: 60px;
}

#index1 .feature .feature-text {
  height: 90px;
  width: 390px;
}

#index1 .features .subtitle {
  color: #292a34;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

#index1 .features .detail {
  color: #4f5059;
  font-size: 14px;
}

#index1 #oval9 {
  background-image: linear-gradient(143deg, #3139ec 0%, #ff0061 100%);
  bottom: -30px;
  height: 170px;
  left: 240px;
  opacity: 0.06;
  position: absolute;
  width: 170px;
  z-index: -1;
}

#index1 .easy-steps {
  padding-bottom: 30px;
  padding-top: 90px;
  position: relative;
}

#index1 .easy-steps .title {
  color: #292a34;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

#index1 .easy-steps .steps-container {
  margin-top: 0;
  padding-top: 90px;
}

#index1 .easy-steps .subtitle {
  color: #292a34;
  font-size: 18px;
  font-weight: 700;
}

#index1 .easy-steps .step-image {
  padding: 0;
}

#index1 .easy-steps .step-image a {
  align-items: center;
  background-color: #f8fafd;
  border-radius: 50%;
  display: flex;
  height: 105px;
  justify-content: center;
  margin: 0 auto;
  width: 105px;
}

#index1 .easy-steps .detail {
  color: #4f5059;
  font-size: 16px;
  margin-top: 0;
}

#index1 .arch {
  height: 26px;
  overflow: hidden;
  position: absolute;
  width: 152px;
}

#index1 #arch1 {
  left: 230px;
  top: 350px;
}

#index1 #arch2 {
  left: 570px;
  top: 330px;
}

#index1 .arch-line {
  border: 2px dashed #e7ebef;
  border-radius: 50%;
  color: #777777;
  height: 480px;
  position: absolute;
  width: 480px;
}

#index1 #arch1 .arch-line {
  left: -150px;
  bottom: 0;
}

#index1 #arch2 .arch-line {
  left: -150px;
  top: 0;
}

#index1 #oval6 {
  background-image: linear-gradient(143deg, #3139ec 0%, #ff0061 100%);
  bottom: 90px;
  height: 35px;
  left: 0;
  opacity: 0.06;
  position: absolute;
  width: 35px;
}

#index1 #oval7 {
  background-image: linear-gradient(143deg, #3139ec 0%, #ff0061 100%);
  bottom: 30px;
  height: 70px;
  left: 30px;
  opacity: 0.06;
  position: absolute;
  width: 70px;
}

#index1 #oval8 {
  width: 70px;
  height: 70px;
  background-image: linear-gradient(143deg, #3139ec 0%, #ff0061 100%);
  opacity: 0.06;
  position: absolute;
  right: -120px;
  top: 390px;
}

#index1 .facts {
  margin: 0 auto;
  padding-top: 60px;
  position: relative;
  width: 960px;
}

#index1 .facts .title {
  color: #292a34;
  font-size: 48px;
  font-weight: 700;
}

#index1 .facts-container {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 120px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
}

#index1 .facts .fact-copy {
  borde-radius: 4px;
  box-shadow: 0 11px 35px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
  padding-bottom: 15px;
  width: 450px;
}

#index1 .facts .subtitle {
  color: #292a34;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
}

#index1 .facts .fact-image {
  align-items: center;
  display: flex;
  height: 240px;
  justify-content: center;
  position: relative;
  width: 450px;
}

#index1 .facts .fact-image img {
  z-index: 1;
}

#index1 .facts .fact-image-bg {
  background-image: linear-gradient(143deg, #3139ec 0%, #ff0061 100%);
  border-radius: 4px 4px 0 0;
  height: 240px;
  left: 0;
  position: absolute;
  top: 0;
  width: 450px;
}

#index1 .fact-pc .fact-image-bg,
#index1 .fact-win10 .fact-image-bg {
  opacity: 0.15;
}

#index1 .fact-windows .fact-image-bg,
#index1 .fact-cleaner .fact-image-bg {
  opacity: 0.51;
}

#index1 .fact-image-disc {
  align-items: center;
  background-image: linear-gradient(140deg, #3139ec 0%, #ff0061 100%);
  border-radius: 50%;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 200px;
}

#index1 .facts .detail {
  color: #4f5059;
  font-size: 14px;
  padding: 15px 30px 15px;
}

#index1 #oval4 {
  background-image: linear-gradient(143deg, #3139ec 0%, #ff0061 100%);
  height: 120px;
  left: -120px;
  opacity: 0.06;
  position: absolute;
  top: 510px;
  width: 120px;
}

#index1 #oval5 {
  background-image: linear-gradient(143deg, #3139ec 0%, #ff0061 100%);
  height: 100px;
  right: -120px;
  opacity: 0.06;
  position: absolute;
  top: 240px;
  width: 100px;
}

#index1 #main .final-cta-container {
  background-color: #0077ff;
  background-image: none;
}

#index1 .final-cta {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
  padding-top: 90px;
  position: relative;
  width: 960px;
}

#index1 .final-cta .title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 30px;
  text-align: left;
  width: 480px;
}

#index1 .final-cta a {
  align-items: center;
  background-color: #ffffff;
  border-radius: 22px;
  color: #0077ff;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 45px;
  justify-content: center;
  text-transform: uppercase;
  width: 270px;
}

#index1 .oval {
  border-radius: 50%;
}

#index1 #oval1 {
  background-color: rgba(255, 255, 255, 0.2);
  height: 50px;
  left: -90px;
  position: absolute;
  top: 60px;
  width: 50px;
}

#index1 #oval2 {
  background-color: rgba(255, 255, 255, 0.2);
  height: 45px;
  position: absolute;
  right: -90px;
  top: 150px;
  width: 45px;
}

#index1 #oval3 {
  background-color: rgba(255, 255, 255, 0.2);
  height: 24px;
  position: absolute;
  right: -120px;
  top: 120px;
  width: 24px;
}

#index1 #main {
  padding-bottom: 0;
}

#index2 #header {
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 960px;
}

#index2 #header .logo {
  filter: grayscale(1) brightness(50%) contrast(200%);
}

#index2 .main-container {
  box-shadow: none;
}

#index2 .main-header {
  height: 360px;
  margin-bottom: 60px;
  position: relative;
}

#index2 .hero-video {
  left: 420px;
  position: absolute;
  top: 0;
}

#index2 .main-header-text {
  padding-top: 30px;
}

#index2 .main-title {
  text-align: left;
  color: #2b2b2b;
  font-size: 52px;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 0;
  width: 480px;
}

#index2 .rating-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 840px;
}

#index2 .rating-container #google-safe-browsing {
  order: -1;
}

#index2 .rating-container #rating-highya {
  order: 1;
}

#index2 .cta {
  padding-top: 60px;
}

#index2 .cta a {
  background-color: #fd5545;
  border-radius: 3px;
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  height: 48px;
  padding: 10px 30px;
  white-space: nowrap;
  width: 360px;
}

#index2 .easy-steps {
  padding-top: 150px;
}

#index2 .easy-steps .title {
  color: #333333;
  font-size: 40px;
  font-weight: 700;
}

#index2 .easy-steps .steps-container {
  margin-top: 0;
  padding-top: 60px;
}

#index2 .easy-steps .step {
  width: 300px;
}

#index2 .easy-steps .step-image {
  padding-right: 0;
}

#index2 .easy-steps .step-image img {
  margin: 0 auto 0 0;
}

#index2 .easy-steps .subtitle {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

#index2 .easy-steps .detail {
  color: #333333;
  margin-top: 15px;
  text-align: left;
}

#index2 .easy-steps .step-separator {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
}

#index2 .easy-steps .step-number {
  align-items: center;
  background-color: #fd5545;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  width: 48px;
}

#index2 .easy-steps .step-divider {
  background-color: #fd5545;
  height: 2px;
  margin-left: 15px;
  width: 240px;
}

#index2 .main-container-dark {
  background-color: #333333;
  color: #ffffff;
}

#index2 .facts {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 120px;
  width: 1200px;
}

#index2 .facts .facts-header {
  padding-top: 180px;
}

#index2 .facts .title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
}

#index2 .facts .facts-container {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -20px;
  width: 680px;
}

#index2 .facts .fact-copy {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  margin-top: 20px;
  padding: 30px 30px 30px 15px;
  position: relative;
  width: 330px;
}

#index2 .facts .fact-image {
  position: absolute;
}

#index2 .facts .subtitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding-left: 80px;
  white-space: nowrap;
}

#index2 .facts .detail {
  font-size: 15px;
  padding-top: 15px;
  text-align: left;
  padding-left: 80px;
}

#index2 .testimonials {
  padding-bottom: 120px;
  padding-top: 120px;
}

#index2 .testimonials .title {
  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
}

#index2 .testimonials .subtitle {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 30px;
  text-align: center;
}

#index2 .testimonials .testimonials-body {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

#index2 .testimonials .testimonial {
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 60px 30px;
  width: 310px;
}

#index2 .testimonials .quote {
  color: #333333;
  font-size: 15px;
  padding-bottom: 30px;
}

#index2 .testimonials .reviewer-window {
  align-items: center;
  color: #333333;
  display: flex;
  justify-content: flex-start;
}

#index2 .testimonials .reviewer-cite {
  padding-left: 15px;
}

#index2 .testimonials .reviewer-name {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

#index2 .testimonials .reviewer-location {
  font-size: 12px;
}

#index2 .features {
  padding-bottom: 120px;
  padding-top: 120px;
  position: relative;
}

#index2 .features .title {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.2;
  position: absolute;
  text-align: left;
  top: 210px;
}

#index2 .features .feature {
  display: flex;
  padding-left: 420px;
}

#index2 .features .feature-image {
  align-items: center;
  background-color: #fd5545;
  border-radius: 50%;
  display: flex;
  height: 96px;
  justify-content: center;
  margin: 10px auto 45px 0;
  width: 96px;
}

#index2 .features .feature-text {
  padding-left: 30px;
  width: 450px;
}

#index2 .features .subtitle {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
}

#index2 .features .detail {
  font-size: 16px;
}

#index2 .final-cta {
  height: 450px;
  margin-bottom: 90px;
  margin-top: 90px;
  position: relative;
}

#index2 .final-cta .final-cta-text {
  padding-left: 480px;
}

#index2 .final-cta .title {
  color: #333333;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  width: 480px;
}

#index2 .final-cta .final-cta-link {
  align-items: center;
  background-color: #fd5545;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 270px;
}

#index3 #main {
  padding-bottom: 0;
}

#index3 #header {
  background-color: #5a27a4;
  opacitiy: 0.8;
}

#index3 .header-container {
  height: auto;
  padding-bottom: 15px;
  padding-top: 15px;
}

#index3 .main-container {
  box-shadow: none;
}

#index3 .main-container-alt {
  background-image: linear-gradient(225deg, #3023ae 0%, #c86dd7 100%);
  color: #ffffff;
  overflow: hidden;
  position: relative;
}

#index3 .main-header-container {
  position: relative;
}

#index3 .main-header {
  height: 677px;
  padding-top: 90px;
  position: relative;
}

#index3 .main-title {
  color: #ffffff;
  font-size: 66px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 auto 0 0;
  text-align: left;
  width: 540px;
}

#index3 .main-header .cta a {
  align-items: center;
  background-color: #ffc300;
  border-radius: 30px;
  color: #ffffff;
  display: flex;
  font-size: 22px;
  font-weight: 700;
  height: 60px;
  justify-content: center;
  margin: 60px auto 0 0;
  width: 330px;
}

#index3 .main-abstract {
  color: #ffffff;
  font-size: 22px;
  margin: 60px auto 0 0;
  text-align: left;
  width: 540px;
}

#index3 .oval {
  border-radius: 50%;
}

#index3 #oval1 {
  background-image: linear-gradient(51deg, #3023ae 0%, #c86dd7 100%);
  height: 360px;
  position: absolute;
  right: -330px;
  bottom: -90px;
  width: 360px;
}

#index3 #oval2 {
  background-image: linear-gradient(225deg, #3023ae 0%, #c86dd7 100%);
  border-radius: 50%;
  height: 150px;
  position: absolute;
  right: -150px;
  top: 30px;
  width: 150px;
}

#index3 #oval3 {
  background-image: linear-gradient(225deg, #3023ae 0%, #c86dd7 100%);
  height: 78px;
  left: 570px;
  opacity: 0.5;
  position: absolute;
  top: 390px;
  width: 78px;
}

#index3 #oval4 {
  background-image: linear-gradient(225deg, #3023ae 0%, #c86dd7 100%);
  height: 100px;
  left: 50%;
  opacity: 0.5;
  position: absolute;
  top: 630px;
  width: 100px;
}

#index3 #oval5 {
  background-image: linear-gradient(225deg, #3023ae 0%, #c86dd7 100%);
  height: 396px;
  left: 50%;
  opacity: 0.2;
  position: absolute;
  top: 480px;
  transform: translate(-860px, 0);
  width: 396px;
}

#index3 .testimonials {
  padding-bottom: 60px;
  padding-top: 120px;
}

#index3 .testimonials .title {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
}

#index3 .testimonials .testimonials-body {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

#index3 .testimonials .testimonial {
  border-radius: 3px;
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 300px;
}

#index3 .testimonials .quote {
  color: #333333;
  font-size: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

#index3 .testimonials .reviewer-cite {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

#index3 .rating-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 60px auto;
  width: 840px;
}

#index3 .rating-container #google-safe-browsing {
  order: -1;
}

#index3 .rating-container #rating-highya {
  order: 1;
}

#index3 .rating-reviewer {
  opacity: 0.5;
}

#index3 .rating-reviewer:hover {
  opacity: 1;
}

#index3 .features {
  padding-bottom: 120px;
  padding-top: 90px;
  position: relative;
}

#index3 .features .features-image {
  top: 120px;
}

#index3 .features .features-text {
  padding-left: 510px;
}

#index3 .features .title {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: left;
}

#index3 .features .feature {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}

#index3 .features .feature-image {
  padding-bottom: 60px;
  padding-right: 30px;
  padding-top: 15px;
}

#index3 .features .subtitle {
  background: linear-gradient(180deg,rgba(255,255,255,0) 66%, #c86dd7 50%);
  color: #333333;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
}

#index3 .features .detail {
  color: #333333;
  font-size: 16px;
  padding-top: 15px;
}

#index3 #oval6 {
  background-image: linear-gradient(225deg, #3023ae 0%, rgba(200, 109, 215, 0) 100%);
  height: 100px;
  opacity: 0.1;
  position: absolute;
  right: 120px;
  top: -30px;
  width: 100px;
}

#index3 #oval7 {
  background-image: linear-gradient(225deg, #3023ae 0%, rgba(200, 109, 215, 0) 100%);
  bottom: -60px;
  height: 140px;
  opacity: 0.1;
  position: absolute;
  left: 420px;
  width: 140px;
  z-index: -1;
}

#index3 #oval8 {
  background-image: linear-gradient(225deg, #3023ae 0%, rgba(200, 109, 215, 0) 100%);
  height: 195px;
  left: -150px;
  opacity: 0.1;
  position: absolute;
  top: 30px;
  width: 195px;
  z-index: -1;
}

#index3 .main-container-alt2 {
  background-image: linear-gradient(46deg, #3023ae 0%, #c86dd7 100%);
  color: #ffffff;
}

#index3 .easy-steps {
  padding-bottom: 30px;
  padding-top: 90px;
}

#index3 .easy-steps .title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  text-align: left;
  width: 540px;
}

#index3 .easy-steps .step-numbers-container {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

#index3 .easy-steps .step-separator {
  align-items: stretch;
  color: #ffffff;
  display: flex;
  font-size: 180px;
  font-weight: 700;
  justify-content: space-between;
  line-height: 1;
  opacity: 0.57;
  padding-top: 30px;
  width: 280px;
}

#index3 .easy-steps .step-separator > * {
  width: 50%;
}

#index3 .easy-steps .step-divider {
  text-align: center;
}

#index3 .easy-steps .steps-container {
  padding-bottom: 90px;
}

#index3 .easy-steps .step {
  position: relative;
}

#index3 .easy-steps .step-image {
  padding: 0;
}

#index3 .easy-steps .step-image img {
  margin: 0 auto 0 0;
}

#index3 .easy-steps .subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  text-align: left;
}

#index3 .easy-steps .detail {
  color: #ffffff;
  font-size: 16px;
  margin-top: 0;
  padding-bottom: 30px;
  text-align: left;
}

#index3 .easy-steps .bottom-line {
  border-bottom: 2px solid #ffffff;
  bottom: 0;
  position: absolute;
  width: 90px;
}

#index3 .facts {
  padding-bottom: 90px;
  padding-top: 90px;
}

#index3 .facts .title {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
}

#index3 .facts .facts-container {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
  width: 840px;
}

#index3 .facts .fact-copy {
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 30px;
  padding: 30px;
  width: 360px;
}

#index3 .facts .fact-image img {
  margin: 0 auto;
}

#index3 .facts .subtitle {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

#index3 .facts .detail {
  color: #333333;
  font-size: 16px;
}

#index3 .main-container-alt3 {
  background-color: #fdf2ff;
}

#index3 .final-cta {
  height: 480px;
  position: relative;
  width: 960px;
}

#index3 .final-cta .diamond-left {
  height: 480px;
  left: -120px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 240px;
}

#index3 .final-cta .diamond-right {
  height: 480px;
  overflow: hidden;
  position: absolute;
  right: -120px;
  top: 0;
  width: 240px;
}

#index3 .final-cta .diamond1 {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #c86dd7;
  border: 1px solid #979797;
  height: 340px;
  position: absolute;
  top: 70px;
  transform: rotate(45deg);
  width: 340px;
}

#index3 .final-cta .diamond-left .diamond1 {
  right: 70px;
}

#index3 .final-cta .diamond-right .diamond1 {
  left: 70px;
}

#index3 .final-cta .diamond2 {
  background-color: #ffffff;
  border: 1px solid #979797;
  height: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 300px;
}

#index3 .final-cta .diamond3 {
  background-color: #ffc300;
  height: 240px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 240px;
}

#index3 .final-cta .title {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  width: 660px;
}

#index3 .final-cta-link {
  align-items: center;
  background-color: #75db84;
  border-radius: 30px;
  color: #ffffff;
  display: flex;
  font-size: 26px;
  font-weight: 700;
  height: 60px;
  justify-content: center;
  margin: 60px auto;
  test-align: center;
  text-transform: uppercase;
  width: 300px;
}

#index4 #header {
  background-color: #434ccc;
}

#index4 .header-container {
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

#index4 #main {
  padding-bottom: 0;
}

#index4 .main-container {
  box-shadow: none;
}

#index4 .main-container-alt {
  background-color: #434ccc;
  color: #ffffff;
  position: relative;
}

#index4 .main-header {
  padding-bottom: 90px;
  padding-top: 30px;
  position: relative;
}

#index4 .main-header .main-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  margin-top: 0;
}

#index4 .issues-container {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#index4 .issues-container .issue {
  align-items: center;
  border-radius: 5px;
  border: 13px solid #ffffff;
  box-shadow: 0 2px 16px rgba(86, 86, 86, 0.3);
  color: #ffffff;
  display: flex;
  font-size: 32px;
  font-weight: 700;
  height: 300px;
  justify-content: center;
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  width: 300px;
  z-index: 1;
}

#index4 .issues-container .issue:hover {
  filter: brightness(1.2);
}

#index4 #issue1 {
  background-color: #ffba1e;
}

#index4 #issue2 {
  background-color: #fd3a36;
}

#index4 #issue3 {
  background-color: #428dfc;
}

#index4 #issue4 {
  background-color: #428dfc;
}

#index4 #issue5 {
  background-color: #434ccc;
}

#index4 #issue6 {
  background-color: #f1b505;
}

#index4 .main-header-bottom-bg {
  background-color: #ffdd78;
  height: 480px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#index4 .easy-steps .title {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
}

#index4 .easy-steps .steps-container {
  align-items: center;
  flex-direction: column;
}

#index4 .easy-steps .step {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  position: relative;
  width: 840px;
}

#index4 .easy-steps .step-image {
  padding: 30px 0 0 0;
  width: 360px;
}

#index4 .easy-steps .step-image img {
  margin: 0 0 0 auto;
}

#index4 .easy-steps #step2 .step-image img {
  margin: 0 auto 0 0;
}

#index4 .easy-steps .step-text {
  width: 360px;
}

#index4 .easy-steps .step-number {
  color: #8bb4f5;
  font-size: 200px;
  font-weight: 800;
  line-height: 1;
  opacity: 0.35;
  position: absolute;
  top: 0;
  z-index: -1;
}

#index4 .easy-steps .subtitle {
  color: #333333;
  font-size: 40px;
  font-weight: 700;
  margin-top: 120px;
  text-align: left;
}

#index4 .easy-steps .detail {
  color: #333333;
  font-size: 20px;
  text-align: left;
}

#index4 .features {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

#index4 .features .title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  margin-top: 0;
  padding-top: 30px;
  text-align: left;
}

#index4 .features .features-text {
  width: 480px;
}

#index4 .features .features-image {
  overflow: visible;
  width: 480px;
}

#index4 .features .feature {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-top: 30px;
}

#index4 .features .feature-image {
  padding-top: 30px;
}

#index4 .feature-text {
  width: 360px;
}

#index4 .features .subtitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

#index4 .features .detail {
  font-size: 18px;
  text-align: left;
}

#index4 .facts {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
  padding-top: 90px;
}

#index4 .facts .facts-images {
  width: 360px;
}

#index4 .facts .facts-container {
  width: 560px;
}

#index4 .facts .title {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: left;
}

#index4 .facts .fact-copy {
  padding-top: 30px;
  position: relative;
}

#index4 .facts .fact-image {
  position: absolute;
}

#index4 .facts .subtitle {
  color: #333333;
  font-size: 22px;
  font-weight: 700;
  padding-left: 60px;
  text-align: left;
}

#index4 .facts .detail {
  color: #333333;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 30px;
}

#index4 .facts .facts-image {
  background-color: #fd3a36;
  height: 240px;
  margin: 90px 90px 0 auto;
  overflow: visible;
  position: relative;
  width: 240px;
}

#index4 .facts .facts-image:first-child {
  background-color: #428dfc;
  margin: 30px auto 0 -90px;
}

#index4 .facts .facts-image:last-child {
  background-color: #ffba1e;
  margin: 90px auto 0 -90px;
}

#index4 .facts .facts-image img {
  height: 300px;
  left: 30px;
  position: absolute;
  top: -30px;
  width: 300px;
}

#index4 .rating-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 90px;
  width: 840px;
}

#index4 .rating-container #google-safe-browsing {
  order: -1;
}

#index4 .rating-container #rating-highya {
  order: 1;
}

#index4 .rating-container .rating-logo {
  filter: grayscale(1) invert(1) brightness(10);
}

#index4 .rating-container #google-safe-browsing .click-here {
  color: #ffffff;
}

#index4 .testimonials {
  padding-bottom: 90px;
  padding-top: 90px;
}

#index4 .testimonials .testimonial {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-left: 120px;
}

#index4 .testimonials .testimonial-text {
  color: #ffffff;
  font-size: 18px;
  padding-left: 60px;
}

#index4 .testimonials .quote {
  padding-bottom: 30px;
}

#index4 .testimonials .reviewer-name {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
}

#index4 .testimonials .reviewer-location {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
}

#index4 .main-container-alt3 {
  background-color: #ffba1e;
}

#index4 .final-cta {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#index4 .final-cta .title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
}

#index4 .final-cta .final-cta-link {
  align-items: center;
  background-color: #428dfc;
  border-radius: 30px;
  color: #ffffff;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  justify-content: center;
  text-transform: uppercase;
  width: 330px;
}

#index5 #header {
  background-color: #2f2f2f;
  background: linear-gradient(-45deg, #2f2f2f 60%, #ffe100 40%);
}

#index5 .header-container {
  /* box-shadow: 0 2px 38px rgba(255, 147, 0, 0.5); */
  height: 60px;
  padding-top: 10px;
}

#index5 .logo {
  display: inline-block;
}

#index5 #main {
  padding-bottom: 0;
  padding-top: 0;
}

#index5 .main-header {
  padding-bottom: 60px;
}

#index5 #main .main-title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}

#index5 .hero5 {
  color: #e3e3e3;
  font-size: 28px;
  font-weight: 700;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 960px;
}

#index5 .main-container-alt {
  background-color: #2f2f2f;
}

#index5 .main-container-alt2 {
  background-color: #ffe100;
}

#index5 .cta {
  padding-top: 30px;
}

#index5 .cta a {
  align-items: center;
  background-color: #ffe100;
  border-radius: 3px;
  box-shadow: 0 2px 38px rgba(255, 147, 0, 0.5);
  color: #ffffff;
  display: flex;
  font-size: 22px;
  font-weight: 700;
  height: 45px;
  justify-content: center;
  margin: 0 auto;
  text-transform: uppercase;
  width: 480px;
}

#index5 .cta a:focus,
#index5 .cta a:hover {
  filter: brightness(1.2);
}

#index5 .rating-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 60px;
  width: 840px;
}

#index5 .rating-container #google-safe-browsing {
  order: -1;
}

#index5 .rating-container #rating-highya {
  order: 1;
}

#index5 .rating-container .rating-logo {
  filter: grayscale(1) invert(1) brightness(10);
}

#index5 .rating-container #google-safe-browsing .click-here {
  color: #ffffff;
}

#index5 .easy-steps {
  padding-bottom: 60px;
  padding-top: 60px;
}

#index5 .easy-steps .title {
  color: #333333;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  margin: 0 auto;
  width: 450px;
}

#index5 .easy-steps .steps-container {
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

#index5 .easy-steps .step {
  background-color: #ffffff;
  border-radius: 3px;
  border: 11px solid #424242;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 60px 15px 30px;
  width: 300px;
}

#index5 .easy-steps .step-image {
  padding: 0;
}

#index5 .easy-steps .step-image img {
  margin: 0 auto;
}

#index5 .easy-steps .subtitle {
  color: #333333;
  font-size: 20px;
}

#index5 .easy-steps .detail {
  color: #333333;
  font-size: 14px;
}

#index5 .testimonials {
  padding-bottom: 90px;
  padding-top: 60px;
}

#index5 .testimonials .title {
  color: #ffe100;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  font-weight: normal;
}

#index5 .testimonials .subtitle {
  color: #ffe100;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

#index5 .testimonials-body {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

#index5 .testimonial {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 2px 38px rgba(255, 147, 0, 0.5);
  padding: 30px;
  width: 300px;
}

#index5 .testimonial .reviewer-window {
  color: #333333;
  display: flex;
}

#index5 .testimonial .reviewer-cite {
  padding-left: 15px;
}

#index5 .testimonial .reviewer-name {
  font-size: 20px;
  font-style: normal;
}

#index5 .testimonial .reviewer-location {
  color: #333333;
  font-size: 12px;
  font-style: normal;
}

#index5 .testimonial .quote {
  color: #333333;
  font-size: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

#index5 .testimonial .stars {
  color: #ffb803;
}

#index5 .features-container {
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;
}

#index5 .features {
  background-color: #ffffff;
  border: 8px solid #424242;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-top: 30px;
  posiition: relative;
}

#index5 .features .feature {
  padding-bottom: 40px;
  position: relative;
  width: 410px;
}

#index5 .features .subtitle {
  color: #343434;
  font-size: 23px;
  white-space: nowrap;
}

#index5 .features .feature-image {
  left: 0;
  position: absolute;
  top: 40px;
}

#index5 .features .detail {
  color: #343434;
  font-size: 16px;
  padding-left: 40px;
}

#index5 .facts {
  padding-bottom: 90px;
  padding-top: 60px;
}

#index5 .facts .title {
  color: #333333;
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  text-align: center;
}

#index5 .facts .facts-container {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 750px;
}

#index5 .facts .fact-copy {
  background-color: #ffffff;
  border-radius: 3px;
  border: 11px solid #424242;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 30px;
  width: 360px;
}

#index5 .facts .fact-image img {
  margin: 0 auto;
}

#index5 .facts .subtitle {
  color: #545454;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

#index5 .facts .detail {
  color: #191919;
  font-size: 14px;
  text-align: justify;
}

#index5 .final-cta {
  padding-bottom: 60px;
  padding-top: 90px;
}

#index5 .final-cta .title {
  color: #ffe100;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  margin: 0 auto;
  width: 630px;
}

#index5 .final-cta .final-cta-link {
  align-items: center;
  background-color: #ffe100;
  box-shadow: 0 2px 38px rgba(255, 147, 0, 0.5);
  color: #ffffff;
  display: flex;
  font-size: 22px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  margin: 60px auto;
  text-transform: uppercase;
  width: 480px;
}

#index5 .final-cta .final-cta-link:hover {
  filter: brightness(1.2);
}

#index5 #footer .footer-container {
  padding-bottom: 30px;
}

#index5 #footer .footer-left {
  padding-right: 30px;
  width: 450px;
}

#index5 #footer .footer-nav {
  width: 270px;
}

#index5 #footer .footer-right {
  width: 240px;
}

#index5 #footer .powered-by {
  margin-top: -10px;
}

#index5 #footer .disclaimer {
  padding-top: 1em;
  width: 100%;
}

#index5 #footer .nav-list {
  flex-direction: column;
  flex-wrap: wrap;
  height: 140px;
  width: 100%;
}

#index5 #footer .nav-list li {
  flex-grow: 1;
  line-height: 40px;
  padding: 0;
  text-align: left;
}

#index5 #footer .nav-list li + li:before {
  content: none;
}

#index5 #footer .nav-list li:first-child {
  margin: 0;
}

#index5 #footer .nav-list li:last-child {
  text-align: left;
}

#index5 #footer .footer-nav a {
  color: #333333;
}

#index5 #footer .footer-separator {
  border: 1px solid #000000;
  height: 1px;
  width: 100%;
}

#index5 #footer .footer-bottom {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding-bottom: 120px;
  width: 960px;
}

#index5 #footer .copyright {
  margin: 0;
  width: 330px;
}

#index5 #footer .bottom-nav-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 360px;
}

#index5 #footer .bottom-nav-list li a {
  color: #333333;
}

#direct .header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding-bottom: 15px;
  padding-top: 15px;
}

#direct .header-title {
  color: #7c7e85;
  font-size: 28px;
  font-weight: 700;
}

#direct .main-container-alt {
  background-color: #6a52c4;
  color: #ffffff;
}

#direct .main-title {
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: left;
}

#direct .main-body {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
  width: 960px;
}

#direct .main-left {
  padding-right: 30px;
  width: 630px;
}

#direct .main-right {
  width: 330px;
}

#direct .available {
  padding-bottom: 30px;
  position: relative;
}

#direct .available .title {
  color: #272a36;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}

#direct .available .abstract {
  color: #7c7e85;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-align: left;
}

#direct .available .select-start {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-between;
  margin: 15px auto 15px 0;
  padding: 15px;
}

#direct .available .select-windows-version {
  font-size: 16px;
  white-space: nowrap;
  width: 180px;
}

#direct .available .select-versions {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  height: 45px;
  padding-left: 5px;
  width: 150px;
}

#direct .available .start-button {
  align-items: center;
  background-color: #1ddd60;
  border-radius: 5px;
  border: 1px solid #09ae43;
  color: #084a1f;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 45px;
  justify-content: center;
  width: 180px;
}

#direct .available .start-button:hover {
  filter: brightness(1.2);
}

#direct .available .size-time {
  align-items: center;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  width: 360px;
}

#direct .available .subtitle {
  display: inline-block;
  color: #555555;
  font-size: 15px;
  font-weight: normal;
}

#direct .benefits {
  border-top: 1px solid #e7e7e7;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
}

#direct .benefits .title {
  color: #0046e4;
  font-size: 20px;
  margin: 0;
  text-align: left;
}

#direct .benefits .detail {
  font-size: 16px;
  padding-top: 15px;
  width: 570px;
}

#direct .benefit-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 14em;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  font-size: 16px;
}

#direct .benefit-list li {
  font-weight: 700;
  line-height: 2em;
}

#direct .benefit-list li:before {
  align-items: center;
  border-radius: 50%;
  border: 1px solid #0046e4;
  color: #0046e4;
  content: '\2713';
  display: inline-flex;
  height: 18px;
  justify-content: center;
  margin-left: 5px;
  margin-right: 10px;
  width: 18px;
}

#direct .benefits .windows10-logo {
  position: absolute;
  right: 0;
  top: 30px;
}

#direct .requirements {
  border-top: 1px solid #e7e7e7;
  padding-top: 30px;
}

#direct .requirements .title {
  color: #0046e4;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  text-align: left;
}

#direct .requirements .detail {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  list-style-type: none;
  padding: 1em 0 1em 2em;
  width: 480px;
}

#direct .requirements .detail li {
  line-height: 2em;
}

#direct .requirements .detail li:first-child {
  font-weight: 700;
}

#direct .howto {
  background-color: #fcfcfc;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  padding-bottom: 30px;
  width: 330px;
}

#direct .howto .title {
  border-bottom: 1px solid #e7e7e7;
  color: #0046e4;
  font-size: 18px;
  margin: 0;
  padding: 1em;
  text-align: center;
}

#direct .howto .step-list {
  list-style-type: none;
  padding: 0 30px 0 30px;
}

#direct .howto .step-list li {
  margin-bottom: 1.5em;
}

#direct .howto .step-list .subtitle {
  color: #272a36;
  font-size: 17px;
}

#direct .howto .step-list .update-all {
  font-weight: 700;
}

#direct .howto .activate {
  font-weight: 700;
}

#direct .howto .download-now {
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #0046e4;
  display: flex;
  color: #0046e4;
  height: 60px;
  justify-content: center;
  margin: 0 auto;
  width: 270px;
}

#direct .howto .download-icon {
  align-items: center;
  background-color: #fcfcfc;
  border: 1px solid #0046e4;
  border-radius: 13px;
  display: flex;
  height: 26px;
  justify-content: center;
  margin-right: 15px;
  vertical-align: middle;
  width: 26px;
}

#direct .howto .download-text {
  color: #0046e4;
  font-size: 18px;
  font-weight: 700;
}

#direct .howto .compatibility {
  color: #67686e;
  font-size: 14px;
  padding-left: 30px;
  padding-top: 30px;
}

#direct .howto .compatibility .subtitle {
  color: #272a36;
  font-size: 16px;
}

#direct .howto .require {
  color: #67686e;
  font-size: 14px;
  padding-left: 30px;
  padding-top: 30px;
}

#direct .howto .require .subtitle {
  color: #272a36;
  font-size: 16px;
}

#direct #footer .footer-nav {
  display: none;
}

#direct #footer .bottom-nav-list {
  display: flex;
}

#comparison #main .main-container:first-child {
  padding-bottom: 90px;
}

#comparison #main .comparison-chart {
  margin-top: 60px;
}

#comparison #main .comparison-chart table {
  width: 100%;
}

#comparison #main .comparison-chart thead tr {
  background-color: #2f1453;
  height: 56px;
}

#comparison #main .comparison-chart thead th {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  height: 20px;
  padding-left: 15px;
  text-align: left;
}

#comparison #main .comparison-chart thead td {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  height: 20px;
  min-width: 120px;
  text-align: center;
}

#comparison #main .comparison-chart tbody tr {
  height: 56px;
}

#comparison .comparison-chart tbody tr:nth-child(even) {
  background-color: #ffffff;
}

#comparison .comparison-chart tbody tr:nth-child(odd) {
  background-color: #f5f3f9;
}

#comparison #main .comparison-chart tbody th {
  color: #2f1453;
  font-size: 15px;
  font-weight: 700;
  height: 20px;
  padding-left: 15px;
  text-align: left;
}

#comparison #main .comparison-chart tbody td {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

#comparison #main .comparison-chart td img {
  display: inline-block;
}

#comparison #main .comparison-chart .chart-download {
  padding-top: 16px;
  text-align: center;
  width: 209px;
}

#comparison #main .comparison-chart .chart-download .download-button {
  margin: 0 auto;
}

#comparison #main .comparison-disclaimer {
  color: #646464;
  font-size: 14px;
  margin: 30px auto 0;
  text-align: center;
  width: 743px;
}

#comparison #main .certification {
  align-items: center;
  background-color: #fcfaff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin: 90px auto 0;
  padding: 30px;
  width: 685px;
}

#comparison #main .certification .title {
  padding-left: 20px;
  text-align: left;
}

#comparison #main .certification .abstract {
  /* color: #646464; */
  margin: 15px 0 0;
  padding-left: 20px;
  text-align: left;
  width: 402px;
}

#comparison #main .trusted {
  padding-bottom: 60px;
  padding-top: 60px;
}

#comparison #main .trusted .title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

#comparison #main .trusted .rating-container {
  align-items: center;
  display: flex;
  height: 94px;
  justify-content: space-between;
  margin: 36px auto 0;
  width: 837px;
}

#how-it-works #main .main-title {
  color: #ffffff;
  margin: 25px 0 0 10px;
  text-align: left;
}

#how-it-works #main .main-abstract {
  color: #ffffff;
  font-size: 24px;
  margin: 40px 0 60px 10px;
  text-align: left;
  width: 480px;
}

#how-it-works #main .functions {
  padding-top: 70px;
  padding-bottom: 70px;
}

#how-it-works #main .functions .title {
  font-size: 36px;
  font-weight: 800;
}

#how-it-works #main .functions .abstract {
  /* color: #646464; */
  padding-bottom: 30px;
}

#how-it-works #main .functions .function {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 25px;
}

#how-it-works #main .functions .function-image {
  padding-right: 20px;
}

#how-it-works #main .functions .detail {
  /* color: #646464; */
}

#how-it-works #main .benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

#how-it-works #main .benefits .title {
  font-size: 36px;
  font-weight: 800;
}

#how-it-works #main .benefits .abstract {
  /* color: #646464; */
  margin: 20px auto 0;
  width: 720px;
}

#how-it-works #main .benefits .benefits-body {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

#how-it-works #main .benefits .benefit {
  width: 290px;
}

#how-it-works #main .benefits .subtitle {
  margin-top: 30px;
}

#how-it-works #main .benefits .detail {
  /* color: #646464; */
}

#faq #main .main-container {
  padding-bottom: 90px;
}

#faq #main .main-container > * {
  padding-left: 40px;
  padding-right: 40px;
}

#faq #main .chapter {
  margin-top: 90px;
}

#faq #main .title {
  text-align: left;
}

#download-instructions #footer {
  display: none;
}

#download-instructions #main .main-title {
  font-size: 32px;
  font-weight: 800;
  text-align: left;
  white-space: nowrap;
}

#download-instructions #main .main-body {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

#download-instructions #main .download-steps {
  font-size: 24px;
  padding-left: 30px;
}

#download-instructions #main .download-steps ul {
  line-height: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#download-instructions #main .download-steps .active {
  background-color: #ffffaa;
}

#download-instructions #main .step-number {
  color: #2f1453;
  font-weight: 700;
}

#download-instructions #main .download-trouble {
  font-size: 18px;
  font-weight: 400;
  padding-right: 30px;
}

#download-instructions #main #download {
  color: #2f1453;
  font-weight: 700;
  text-decoration: underline;
}

#download-instructions #main .help-call {
  margin-top: 25px;
}

#download-instructions #main .call-us {
  color: #2f1453;
  font-weight: 700;
}

#download-instructions #main .main-container {
  padding-bottom: 180px;
}

#download-instructions #main .credits {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 120px auto 0;
  width: 800px;
}

#download-instructions #main .credits img {
  filter: grayscale(1);
  height: 55px;
  margin: 0 auto;
  width: auto;
}

#download-instructions #main .credit:hover img {
  filter: none;
}

#download-instructions #main .geotrust {
  min-width: 115px;
}

#download-instructions #main .made-in-the-usa {
  font-size: 12px;
  font-weight: bold;
  height: 55px;
  text-align: center;
}

#download-instructions #main .made-in-the-usa img {
  height: 26px;
  margin: 10px auto 0;
}

#download-instructions #download-backdrop {
  background-color: #000000;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000100; /* above Proof */
}

#download-instructions .download-panel {
  position: fixed;
  z-index: 1000200; /* above Proof */
}

#download-instructions #download-panel-ie {
  bottom: 60px;
  left: 50%;
  transform: translate(-120px, 0);
}

#download-instructions #download-panel-edge {
  bottom: 75px;
  left: 50%;
  transform: translate(150px, 0);
}

#download-instructions #download-panel-chrome {
  bottom: 15px;
  left: 180px;
}

#download-instructions #download-panel-firefox {
  right: 180px;
  top: 30px;
}

#download-instructions .download-panel .download-instructions {
  background-color: #ffffff;
  border-radius: 5px;
  height: 150px;
  margin: 0 10px;
  position: relative;
  width: 240px;
}

#download-instructions .download-panel .title {
  background-color: #6a56c1;
  border-radius: 16px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  height: 32px;
  left: 50%;
  padding-top: 2px;
  position: absolute;
  text-align: center;
  top: -16px;
  transform: translate(-50%, 0);
  width: 210px;
}

#download-instructions .download-panel .detail {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  text-align: left;
}

#download-instructions .download-arrow {
  position: fixed;
  z-index: 1000200; /* above Proof */
}

#download-instructions #download-arrow-ie {
  left: 50%;
  bottom: 60px;
  transform: translate(180px, 0);
}

#download-instructions #download-arrow-edge {
  bottom: 75px;
  left: 50%;
}

#download-instructions #download-arrow-chrome {
  left: 30px;
  bottom: 15px;
}

#download-instructions #download-arrow-firefox {
  right: 20px;
  top: 20px;
}

#download-help {
  background-color: #ffffff;
  border-radius: 5px;
  left: 50%;
  padding: 30px 45px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000300; /* above Proof */
}

#download-help .close-icon {
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

#download-help .download-help-problem {
  background-color: #fff2cc;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 60px;
  text-align: center;
  white-space: nowrap;
}

#download-help .download-help-standing-by {
  margin: 30px auto 0;
  text-align: center;
  white-pace: nowrap;
}

#download-help .download-help-telephone {
  font-size: 36px;
  font-weight: bold;
  margin: 15px auto 0;
  text-align: center;
  white-space: nowrap;
}

#download-help .download-help-telephone a {
  color: #35bdf0;
}

#download-help .download-help-powered {
  color: #bbbbbb;
  font-size: 12px;
  font-weight: 700;
  margin: 15px auto 0;
  text-align: center;
  white-space: nowrap;
}

#download-help .download-help-available {
  font-size: 12px;
  margin: 15px auto 0;
  text-align: center;
  white-space: nowrap;
}

#download-help .download-help-again {
  margin: 15px auto 0;
  text-align: center;
}

#download-help .download-help-no-problem {
  background-color: #92d050;
  border-radius: 10px;
  border: 2px solid #3f5e96;
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 30px auto 0;
  padding: 15px 30px;
  pointer: cursor;
  text-align: center;
  white-space: nowrap;
}

#download-help #download-help-button {
  height: 120px;
  text-align: center;
  position: relative;
  width: 100%;
}

#user-reviews #main .data-counts {
  align-items: center;
  color: #2f1453;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 800px;
}

#user-reviews #main .data-counts .data-image img {
  margin: 0 auto;
}

#user-reviews #main .data-counts .subtitle {
  margin-top: 20px;
}

#user-reviews #main .main-reviews {
  padding-top: 60px;
}

#user-reviews #main .main-reviews .title {
  font-size: 36px;
  font-weight: 800;
}

#user-reviews #main .main-reviews-body {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto 0;
  width: 720px;
}

#user-reviews #main .video-quote {
  height: 420px;
  width: 320px;
}

#user-reviews #main .main-reviews .video-container {
  padding-bottom: 20px;
}

#user-reviews #main .more-reviews {
  padding-top: 60px;
}

#user-reviews #main .more-reviews .title {
  font-size: 36px;
  font-weight: 700;
}

#user-reviews #main .more-reviews-body {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto 0;
  width: 720px;
}

#user-reviews #main .more-reviews .video-quote {
  height: 200px;
}

#user-reviews #main .more-reviews .video-container {
  display: none;
}

#user-reviews #main .rating img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

#user-reviews #main .video-quote .reviewer {
  color: #2f1453;
  font-size: 21px;
  font-weight: 700;
}

#user-reviews #main .video-quote .rating {
  color: #646464;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 0;
}

#user-reviews #main .video-quote .quote {
  /* color: #646464; */
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 0;
}

#contact-us #main .main-abstract {
  text-align: center;
  width: 660px;
}

#contact-us #main .contacts {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
  width: 800px;
}

#contact-us #main .contacts .contact-method {
  background-color: #fcfaff;
  border-radius: 8px;
  height: 300px;
  padding-top: 15px;
  width: 342px;
}

#contact-us #main .contacts .contact-image img {
  margin: 0 auto;
}

#contact-us #main .contacts .title {
  margin-top: 15px;
  text-align: center;
}

#contact-us #main .contacts .detail {
  /* color: #646464; */
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

#contact-us .chat-container {
  padding-top: 60px;
}

#contact-us #chat-full {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#contact-us .chat-container .title {
  text-align: center;
}

#contact-us #main .contact-form {
  margin: 60px auto 120px;
}

#contact-us #main .contact-form .title {
  color: #9c54f4;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

#contact-us #main .contact-form .input-label {
  height: 24px;
  color: #2f1453;
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin: 25px auto 0 80px;
}

#contact-us #main .contact-form .input-style {
  background-color: #fefeff;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  font-size: 30px;
  height: 63px;
  margin: 10px 80px 0 80px;
  width: 800px;
}

#contact-us #main .contact-form .textarea-style {
  background-color: #fefeff;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  font-size: 20px;
  height: 212px;
  margin: 10px 80px 0 80px;
  width: 800px;
}

#contact-us #main .contact-form .button-style {
  background-color: #9c54f4;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  height: 63px;
  margin: 30px 80px 0 80px;
  width: 800px;
}

#contact-us #main .contact-form .flash {
  color: #2f1453;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

#contact-us #main .contact-form .not-sent {
  color: #992222;
}

#contact-us #main .contact-form :disabled {
  background-color: #777777;
}

#contact-us #main .recaptcha-submit {
  display: flex;
}

#contact-us #main .recaptcha-submit .g-recaptcha {
  margin: 25px 0 0 80px;
}

#contact-us #main #contact-recaptcha > * {
  margin: 30px auto;
}

#uninstall #main .main-body {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 120px;
}

#uninstall #main .title {
  padding-left: 40px;
  text-align: left;
}

#uninstall #main .main-abstract {
  width: 660px;
}

#eula #main .main-body {
  padding-bottom: 90px;
}

#eula #main .detail {
  font-size: 14px;
}

#privacy-policy #main dfn,
#terms-of-service #main dfn {
  font-style: normal;
  text-decoration: underline;
}

#privacy-policy #main ol > li,
#terms-of-service #main ol > li {
  margin-top: 1em;
}

#privacy-policy #main ol > li > ul,
#terms-of-service #main ol > li > ul {
  margin-top: 1em;
  list-style-type: disc;
}

#privacy-policy #main ol > li > ol,
#terms-of-service #main ol > li > ol {
  list-style-type: lower-alpha;
  margin-top: 1em;
}

#privacy-policy #main ol > li > ol > li > ol,
#terms-of-service #main ol > li > ol > li > ol {
  list-style-type: lower-roman;
}

#privacy-policy #main ol > li > ol > li > ol > li,
#terms-of-service #main ol > li > ol > li > ol > li {
  margin-top: 0;
}

#do-not-call-policy #main .date-stamps,
#privacy-policy #main .date-stamps,
#terms-of-service #main .date-stamps {
  align-items: flex-start;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-top: 2em;
}

#do-not-call-policy #main .main-title,
#privacy-policy #main .main-title,
#terms-of-service #main .main-title {
  font-size: 24px;
}

#do-not-call-policy #main .main-abstract,
#privacy-policy #main .main-abstract,
#terms-of-service #main .main-abstract {
  font-size: 16px;
  margin-bottom: 2em;
  text-align: justify;
}

#privacy-policy #main .title,
#terms-of-service #main .title {
  color: #212327;
  font-size: 16px;
  text-align: left;
}

#privacy-policy #main .subchapter,
#terms-of-service #main .subchapter {
  margin-top: 1em;
}

#privacy-policy #main .subtitle,
#terms-of-service #main .subtitle {
  color: #212327;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  text-align: left;
  text-decoration: underline;
}

#do-not-call-policy #main .address,
#privacy-policy #main .address,
#terms-of-service #main .address {
  font-style: normal;
  margin-top: 1em;
  padding-left: 25px;
}

#do-not-call-policy #main .tel,
#privacy-policy #main .tel,
#terms-of-service #main .tel {
  color: #212327;
  white-space: nowrap;
}

#privacy-policy #main .mailto,
#terms-of-service #main .mailto {
  color: #212327;
  white-space: nowrap;
}

#do-not-call-policy #footer,
#privacy-policy #footer,
#terms-of-service #footer {
  margin-top: 90px;
}

#terms-of-service .protection-plan {
  margin-top: 60px;
}

#do-not-call-policy p {
  text-align: justify;
}

#unsub #main .main-container > * {
  padding-left: 40px;
  padding-right: 40px;
}

#unsub #main .main-body {
  margin-top: 60px;
  padding-bottom: 120px;
}

#articles #main .main-container {
  padding-bottom: 90px;
}

#articles #main .main-container > * {
  padding-left: 40px;
  padding-right: 40px;
}

#articles #main .article-index {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  padding-right: 20px;
  padding-left: 20px;
}

#articles #main .article-image {
  width: 320px;
}

#articles #main .article-text {
  min-height: 200px;
  position: relative;
  width: 480px;
}

#articles #main .title {
  font-size: 18px;
  font-weight: 700;
  margin-top: -5px;
  text-align: left;
}

#articles #main .article-text .continue {
  background-color: #9c54f4;
  bottom: 0;
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  height: 45px;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  width: 220px;
}

#articles #main .article-text .continue img {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}

#articles #main .article-text .article-dated {
  color: #646464;
  font-size: 14px;
  left: 0px;
  position: absolute;
  top: 90px;
}

#articles #main .article-text .article-dated img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

#articles #main .article-text .article-by {
  color: #646464;
  font-size: 14px;
  left: 150px;
  position: absolute;
  top: 90px;
}

#articles #main .article-text .article-by img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

#articles #main .article-text .share-article {
  align-items: center;
  border: 1px dotted #646464;
  bottom: 0;
  cursor: pointer;
  display: flex;
  height: 45px;
  justify-content: center;
  left: 240px;
  position: absolute;
  width: 45px;
}

#articles #main .article-text .share-socials {
  bottom: 100%;
  left: -105px;
  position: absolute;
  width: 260px;
}

.article #main .main-title {
  font-size: 36px;
  margin: 30px auto 0;
}

.article #main .main-header-container {
  display: flex;
}

.article #main .main-header-text {
  margin-right: 50px;
}

.article #main .main-header-image img {
  margin-top: 30px;
}

.article #main .main-abstract {
  margin-bottom: 0;
  text-align: justify;
}

.article #main .chapter-title {
  color: #2f1453;
  font-size: 24px;
  font-weight: 700;
}

.article #main .chapter-subtitle {
}

.article #main .chapter-body {
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: justify;
}

.article #main .indent-chapter-body {
  padding-left: 80px;
}

.article #main li {
  font-size: 18px;
  font-weight: 400;
  margin-top: 1em;
}

.article #main li .title {
  display: inline;
  font-size: 18px;
  margin-top: 30px;
}

.article .main-container {
  padding-bottom: 100px;
}

#registry-cleaning .main-title {
  width: 720px;
}

#xp-registry-cleaner .main-title {
  width: 720px;
}

#online-pc-support .main-title {
  width: 640px;
}

#speed-up-windows-10 .main-title {
  width: 720px;
}

#speed-up-windows-10 .main-header-video {
  margin-top: 30px;
}

#speed-up-windows-7 .main-title {
  width: 640px;
}

#computer-cleaner .main-title {
  width: 720px;
}

#ccleaner-alternative .main-title {
  width: 600px;
}

#how-to-choose-free-pc-cleaner .main-title {
  width: 540px;
}

#delete-facebook-account .main-title {
  width: 720px;
}

#fix-slow-computer .main-title {
  width: 870px;
}

#speed-up-computer .main-title {
  width: 810px;
}

#how-can-i-speed-up-my-computer .main-title {
  width: 720px;
}

#speeding-up-your-computer .main-title {
  width: 660px;
}

#speeding-up-your-computer .chapter-subtitle {
  display: inline;
  font-size: 18px;
}

#pc-cleaner-software .main-title {
  width: 690px;
}

#pc-cleaner-malware .main-title {
  width: 630px;
}

#do-pc-cleaners-work .main-title {
  width: 510px;
}

#free-pc-cleaner .main-title {
  width: 660px;
}

#computer-cleaner-alternative .main-title {
  width: 660px;
}

#use-third-party-uninstaller .main-title {
  width: 780px;
}

#laptop-running-slow .main-title {
  width: 600px;
}

#try-pc-optimizer .main-title {
  width: 750px;
}

#features-best-for-pc-cleaner .how-to {
  color: #2f1453;
  font-style: italic;
}

#exit-backdrop {
  background-color: #000000;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#exit-popup {
  background-color: #ffffff;
  border-radius: 5px;
  left: 50%;
  padding: 40px 50px;
  position: fixed;
  top: 30px;
  transform: translate(-50%, 0);
  width: 640px;
  z-index: 20;
}

#exit-popup .exit-logo img {
  margin: 0 auto;
}

#exit-popup .title {
  font-style: italic;
  font-size: 40px;
  margin-top: 20px;
  text-align: center;
}

#exit-popup .rebate-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#exit-popup .rebate-text {
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}

#exit-popup .rebate-card {
  color: #0c79e3;
}

#exit-popup .continue-below {
  font-weight: normal;
}

#exit-popup #email {
  display: block;
  font-size: 24px;
  height: 48px;
  margin-top: 40px;
  padding: 5px;
  width: 100%;
}

#exit-popup #submit {
  background-color: #ed7600;
  border-radius: 5px;
  border-width: 2px;
  color: #ffffff;
  display: block;
  font-size: 24px;
  font-weight: 700;
  height: 50px;
  margin-top: 10px;
  width: 100%;
}

#exit-popup .close-icon {
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

#mac-backdrop {
  background-color: #000000;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

#mac-popup {
  background-color: #ffffff;
  border-radius: 5px;
  left: 50%;
  padding: 40px 50px;
  position: fixed;
  top: 30px;
  transform: translate(-50%, 0);
  width: 640px;
  z-index: 6;
}

#mac-popup .close-icon {
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

#mac-popup .mcm-link {
  color: #212327;
  font-size: 24px;
  font-weight: 800;
  margin: 0 auto 0 65px;
  text-align: center;
}

#mac-popup .mcm-link img {
  display: inline-block;
  height: auto;
  vertical-align: middle;
  width: 211px;
}

#mac-popup .mcm-button {
  background-color: #00df73;
  border-radius: 25px;
  box-shadow: 0 7px 19px rgba(0, 171, 88, 0.57);
  color: #ffffff;
  display: block;
  font-size: 24px;
  font-weight: 800;
  height: 50px;
  margin: 15px auto 0;
  padding-top: 5px;
  text-align: center;
  width: 270px;
}

#affiliates .main-body {
  background-color: #eeeeee;
  margin: 30px auto 0;
  padding: 60px;
  width: 840px;
}

#affiliates .contact-form {
  display: block;
  margin-top: 60px;
}

#affiliates .contact-form-wrap {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#affiliates .contact-form .input-label {
  height: 24px;
  display: block;
  font-size: 16px;
  padding-left: 10px;
}

#affiliates .contact-form .input-style {
  background-color: #fefeff;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  font-size: 18px;
  margin-bottom: 1em;
  padding: 5px 10px;
}

#affiliates .contact-form #input-website {
  width: 350px;
}

#affiliates .contact-form #input-email {
  width: 350px;
}

#affiliates .contact-form #input-addr1,
#affiliates .contact-form #input-addr2 {
  width: 720px;
}

#affiliates .contact-form #input-city {
  width: 350px;
}

#affiliates .contact-form #input-district {
  width: 170px;
}

#affiliates .contact-form #input-postal-code {
  width: 170px;
}

#affiliates .contact-form #input-country {
  width: 350px;
}

#affiliates .contact-form #input-phone {
  width: 350px;
}

#affiliates .contact-form .textarea-style {
  background-color: #fefeff;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 240px;
  padding: 5px 10px;
  width: 720px;
}

#affiliates .contact-form .button-input {
  width: 720px;
}

#affiliates .contact-form .button-style {
  background-color: #2389eb;
  border-radius: 22px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  height: 45px;
  margin: 15px auto;
  text-align: center;
  width: 240px;
}

#affiliates .contact-form .flash {
  color: #2f1453;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

#affiliates .contact-form .not-sent {
  color: #992222;
}

#affiliates #contact-recaptcha > * {
  margin: 30px auto;
}

#compliance .partner-list {
  list-style-type: none;
  padding: 0 0 60px 0;
}

#compliance .partner {
  margin-top: 3em;
  position: relative;
}

#compliance .partner-logo {
  position: absolute;
  text-align: center;
  width: 210px;
}

#compliance .partner-text {
  padding-left: 240px;
  text-align: justify;
}

#compliance .partner .partner-logo img {
  margin: 10px auto 0;
}

#compliance .partner.appesteem .partner-logo img {
  height: auto;
  width: 120px;
}

#compliance .partner.cleanapps .partner-logo img {
  height: auto;
  width: 150px;
}

#compliance .partner.trustwave .partner-logo img {
  height: auto;
  width: 150px;
}

#compliance .partner.geotrust .partner-logo img {
  height: auto;
  width: 150px;
}

#compliance .partner.digicert .partner-logo img {
  height: auto;
  width: 150px;
}

#compliance .partner.nomorobo .partner-logo img {
  height: auto;
  margin-top: 0;
  width: 150px;
}

#compliance .partner.bbb .partner-logo img {
  height: auto;
  margin-top: 0;
  width: 120px;
}

#chat .proofNotificationWrapper {
  display: none !important;
}

#chat #chat-widget-container {
  left: 50% !important;
  top: 30px !important;
  transform: translate(-50%, 0) !important;
}

#percent-ten-day #header .header-container,
#trialofferone #header .header-container {
  height: 60px;
}

#percent-ten-day #header .top-btn,
#trialofferone #header .top-btn {
  display: none;
}

#percent-ten-day .main-header,
#trialofferone .main-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

#percent-ten-day .main-text,
#trialofferone .main-text {
  color: #ffffff;
  padding-top: 90px;
  text-align: left;
  width: 420px;
}

#percent-ten-day .main-title,
#trialofferone .main-title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
}

#percent-ten-day .no-gimmicks,
#trialofferone .no-gimmicks {
  font-size: 18px;
  padding-top: 1.5em;
}

#percent-ten-day .main-abstract,
#trialofferone .main-abstract {
  font-size: 18px;
  margin: auto auto auto 0;
  padding-top: 1.5em;
  text-align: left;
  width: 360px
}

#percent-ten-day .buy-button,
#trialofferone .buy-button {
  align-items: center;
  background-color: #00df73;
  border-radius: 6px;
  color: #ffffff;
  display: flex;
  font-size: 22px;
  font-weight: 700;
  height: 60px;
  justify-content: center;
  margin-top: 45px;
  width: 210px;
}
