/* -*- coding: utf-8 -*- */

@media only screen and (min-width:601px) {

  #main .final-cta-container {
    background: transparent url("../images/final-cta-bg-1440x473.jpg") 50% 0;
  }

  #index #main .hero-sam-img {
    background: transparent url("../images/hero-sam-731x504.png") 0 0 no-repeat;
    height: 504px;
    width: 731px;
  }

  #index #main .hero-bill-img {
    background: transparent url("../images/hero-bill-417x418.png") 0 0 no-repeat;
    height: 417px;
    width: 418px;
  }

  #index1 .hero1 {
    background: transparent url("../images/hero1-852x571.png") 0 0 no-repeat;
    height: 571px;
    margin: 0 auto;
    width: 852px;
  }

  #index2 .hero2 {
    background: transparent url("../images/hero2-691x384.png") 0 0 no-repeat;
    height: 384px;
    left: 30px;
    position: relative;
    top: -30px;
    width: 691px;
  }

  #index1 .features-image {
    background: transparent url("../images/real-benefits-939x707.png") 0 0 / 704px 530px no-repeat;
    height: 530px;
    left: -240px;
    position: absolute;
    top: 0;
    width: 704px;
  }

  #index1 .bg-cloud {
    background: transparent url("../images/bg-cloud-443x418.png") 0 0 no-repeat;
    height: 418px;
    position: absolute;
    right: -240px;
    top: -60px;
    width: 443px;
    z-index: -100;
  }

  #index2 .facts-header {
    background: transparent url("../images/feature-bg-378x624.png") 0 0 no-repeat;
    height: 624px;
    width: 378px;
  }

  #index3 .features-image,
  #index2 .final-cta-image {
    background: transparent url("../images/laptop-frame-742x436.png") 0 0 no-repeat;
    height: 436px;
    left: -240px;
    position: absolute;
    top: 0;
    width: 742px;
    z-index: -1;
  }

  #index3 .features-screenshot,
  #index2 .final-cta-screenshot {
    background: transparent url("../images/mycleanpc-quickclean-542x356.png") 0 0 no-repeat;
    height: 356px;
    left: 100px;
    position: absolute;
    top: 22px;
    width: 542px;
    z-index: -2;
  }

  #index3 .hero3 {
    background: transparent url("../images/hero3-492x677.png") 0 0 no-repeat;
    height: 677px;
    right: -120px;
    position: absolute;
    top: 0;
    width: 492px;
  }

  #index4 .features-screenshot {
    background: transparent url("../images/laptop-720x656.png") 0 0 no-repeat;
    height: 656px;
    width: 720px;
  }

  #index5 .hero5 {
    height: 450px;
  }

  #index5 .hero5-after {
    background: transparent url("../images/hero-after-mycleanpc-720x450.png") 0 0 no-repeat;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 0;
    width: 720px;
  }

  #index5 .hero5-before {
    background: transparent url("../images/hero-before-mycleanpc-720x450.png") 0 0 no-repeat;
    height: 450px;
    padding-top: 400px;
    position: absolute;
    right: 50%;
    top: 0;
    width: 720px;
  }

  #index5 #footer,
  #index5 .main-container-gold {
    background: transparent url("../images/gold-bg-1440x889.png") 0 0 repeat;
    color: #333333;
  }

  #index5 .features {
    height: 480px;
  }

  #index5 .features-image {
    /* background: transparent url("../images/faster-car-660x825.png") 0 -160px no-repeat; */
    background: transparent url("../images/faster-car-660x825.png") 0 0 / 480px 600px no-repeat;
    /* height: 825px; */
    height: 600px;
    left: 50%;
    position: absolute;
    top: 0;
    width: 660px;
  }

  #how-it-works .screenshot1 {
    background: transparent url("../images/MyCleanPC-Screenshot-v392-898x564.png") 0 0 / 600px 377px no-repeat;
    /* height: 564px; */
    height: 377px;
    margin: 30px auto;
    /* width: 898px; */
    width: 600px;
  }

  #how-it-works .screenshot2 {
    background: transparent url("../images/MyCleanPC-Tools-v392-899x564.png") 0 0 / 600px 376px no-repeat;
    /* height: 564px; */
    height: 376px;
    margin: 30px auto;
    /* width: 899px; */
    width: 600px;
  }

  #exit-popup .rebate-bestbuy .rebate-image {
    background: transparent url("../images/bestbuy-card-239x152.png") 0 0 no-repeat;
    height: 152px;
    margin-right: 40px;
    width: 239px;
  }

  #mac-popup .mcm-image-img {
    background: transparent url("../images/mac-monitor-344x268.png") 0 0 no-repeat;
    height: 268px;
    margin: 0 auto 0 130px;
    width: 344px;
  }

  #percent-ten-day .big-boxshot,
  #trialofferone .big-boxshot {
    background: transparent url("../images/mcpc-box-shot-540x740.png") 0 0 no-repeat;
    height: 740px;
    width: 540px;
  }

}
