/* -*- coding: utf-8 -*- */

@media only screen and (max-width:600px) {

  body {
    min-width: 360px;
    width: 100vw;
  }

  .index-header-bg,
  .header-bg {
    background: transparent url("../images/herobg-mobile-600x151.png") 0 0 no-repeat;
    height: 151px;
    left: 0;
    overflow: hidden;
    top: 0;
    transform: translate(0, 0);
    width: 100%;
  }

  #header .header-container {
    height: auto;
    max-width: 100%;
  }

  #header .mcp-logo {
    display: inline-block;
    margin: 0;
    position: static;
  }

  #header .top-btn {
    padding-top: 0;
    position: static;
  }

  #header .top-btn .top-btn-oval {
    margin: 30px auto 0;
  }

  #footer .footer-container {
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
  }

  #footer .footer-left {
    max-width: 100%;
  }

  #footer .footer-nav {
    max-width: 100%;
  }

  #footer .nav-list {
    flex-wrap: wrap;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
  }

  #footer .footer-body {
    align-items: center;
    flex-direction: column;
  }

  #footer .disclaimer {
    max-width: 100%;
    padding-right: 0;
  }

  #footer .credits {
    padding-left: 0;
    padding-top: 1.5em;
    width: 100%;
  }

  #footer .footer-bottom {
    align-items: center;
    flex-direction: column;
  }

  #footer .bottom-nav-list {
    padding-top: 1.5em;
  }

  #main .main-container > * {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
  }

  #main .main-title {
    font-size: 30px;
    max-width: 100%;
  }

  #main .call-button {
    display: block !important;
    margin: 30px auto 0;
  }

  #main .call-button img {
    border-radius: 32px;
    margin: 0 auto;
  }

  #main .final-cta-container {
    background: none;
  }

  #main .final-cta {
    padding-top: 90px;
  }

  #main .final-cta .title {
    font-size: 40px;
    width: 330px;
  }

  #main .final-cta .download-for-free-button {
    display: none;
  }

  #main .final-cta .call-button {
    display: block !important;
  }

  #main .easy-steps {
    padding-top: 60px;
  }

  #main .easy-steps .steps-container {
    align-items: center;
    flex-direction: column;
    margin: 40px auto 0;
    padding-bottom: 60px;
  }

  #ekomi-reviews {
    width: 580px;
    transform: translate(0, 0);
  }

  #ekomi-reviews .ekomi-reviews-viewarea {
    width: 480px;
  }

  #ekomi-reviews .ekomi-reviews-container {
    width: 480px;
  }

  #ekomi-user-reviews .ekomi-review-comment {
    width: 375px;
  }

  #index #header .mcp-logo {
    display: inline-block;
    margin: 0;
    position: static;
  }

  #index #header .top-btn {
    display: none;
  }

  #index #main .main-header {
    height: auto;
    margin-top: 60px;
  }

  #index #main .main-title {
    color: #212327;
    font-size: 36px;
    margin: -20px auto 0;
    text-align: center;
    max-width: 100%;
  }

  #index #main .main-abstract {
    color: #212327;
    margin: 10px auto 0;
    text-align: center;
    max-width: 100%;
  }

  #index #main .download-now-button {
    display: none;
  }

  #index #main .hero-sam {
    display: none;
  }

  #index #main .rating-container {
    flex-wrap: wrap;
    margin: 30px auto 0;
    max-width: 100%;
  }

  #index #main .rating-container .rating-reviewer {
    margin-top: 20px;
  }

  #index #main .testimonials {
    margin-top: 20px;
  }

  #index #main .testimonials .testimonials-body {
    align-items: center;
    flex-direction: column;
  }

  #index #main .testimonials .testimonial {
    margin-top: 20px;
  }

  #index #main .feature-container {
    background: #6851c5;
    height: auto;
  }

  #index #main .features {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    max-width: 100%;
  }

  #index #main .features .feature-image {
    padding-right: 15px;
  }

  #index #main .features .feature-text .detail {
    text-align: left;
  }

  #index #main .easy-steps .steps-container {
    padding-bottom: 0;
  }

  #index #main .facts {
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 0;
    max-width: 100%;
  }

  #index #main .facts .fact-copy {
    padding-top: 30px;
    max-width: 100%;
  }

  #index1 .main-frame {
    min-height: 0;
    max-width: 100%;
  }

  #index1 .frame-bottom-left,
  #index1 .frame-bottom-right,
  #index1 .frame-top-left,
  #index1 .frame-top-right {
    display: none;
  }

  #index1 .main-header {
    max-width: 100%;
  }

  #index1 .main-header .main-title {
    font-size: 28px;
  }

  #index1 .main-header .cta {
    max-width: 100%;
  }

  #index1 .main-header .cta a {
    font-size: 16px;
  }

  #index1 .rating-container {
    flex-wrap: wrap;
    max-width: 100%;
    padding-bottom: 30px;
  }

  #index1 .easy-steps .step-image {
    display: none;
  }

  #index1 .testimonials {
    padding-top: 30px;
  }

  #index1 .testimonials-body {
    align-items: center;
    flex-direction: column;
    padding-top: 0;
  }

  #index1 .testimonial {
    margin-top: 30px;
  }

  #index1 .testimonials .subtitle {
    font-size: 24px;
  }

  #index1 .features {
    height: auto;
    max-width: 100%;
    padding: 10px;
  }

  #index1 .features .feature {
    padding-bottom: 0;
    padding-top: 0;
  }

  #index1 .features .feature-dash {
    display: none;
  }

  #index1 .features .feature-text {
    height: auto;
    max-width: 100%;
    padding: 10px;
  }

  #index1 .features .subtitle {
    font-size: 18px;
  }

  #index1 .easy-steps .title {
    font-size: 28px;
  }

  #index1 .easy-steps .steps-container {
    margin: 0 auto;
    padding-top: 30px;
  }

  #index1 .facts {
    max-width: 100%;
    padding-top: 30px;
  }

  #index1 .facts .title {
    font-size: 32px;
  }

  #index1 .facts .fact-copy {
    margin-top: 0;
    max-width: 100%;
  }

  #index1 .facts .fact-image {
    display: none;
  }

  #index1 .final-cta {
    flex-direction: column;
    max-width: 100%;
  }

  #index1 .final-cta .title {
    font-size: 28px;
    margin: 0 auto 30px;
    text-align: center;
  }

  #index1 .oval {
    display: none;
  }

  #index2 #header {
    max-width: 100%;
  }

  #index2 #header .logo img {
    margin: 0 auto;
  }

  #index2 .main-header {
    height: auto;
    padding-top: 30px;
    text-align: center;
    width: 100%;
  }

  #index2 .hero-video {
    height: 202px;
    margin: 60px auto 0;
    position: static;
    width: 360px;
  }

  #index2 .main-title {
    text-align: center;
  }

  #index2 .cta a {
    font-size: 16px;
    max-width: 100%;
  }

  #index2 .rating-container {
    flex-wrap: wrap;
    max-width: 100%;
    padding-top: 60px;
  }

  #index2 .easy-steps .steps-container {
    margin-top: 0;
    padding-top: 30px;
  }

  #index2 .easy-steps .title {
    font-size: 30px;
    line-height: 1.2;
  }

  #index2 .easy-steps .step-image {
    display: none;
  }

  #index2 .easy-steps .subtitle {
    margin-top: 0;
    text-align: center;
  }

  #index2 .easy-steps .detail {
    margin-top: 0;
  }

  #index2 .facts {
    align-items: center;
    flex-direction: column;
    max-width: 100%;
  }

  #index2 .facts .facts-header {
    padding-top: 0;
  }

  #index2 .facts .facts-container {
    align-items: center;
    flex-direction: column;
    max-width: 100%;
  }

  #index2 .testimonials .subtitle {
    font-size: 28px;
  }

  #index2 .testimonials .testimonials-body {
    flex-direction: column;
    padding-top: 30px;
  }

  #index2 .testimonials .testimonial {
    margin-top: 15px;
  }

  #index2 .features {
    max-width: 100%;
  }

  #index2 .features .title {
    font-size: 48px;
    position: static;
  }

  #index2 .features .feature {
    padding-left: 0;
    padding-top: 60px;
  }

  #index2 .features .feature-image {
    display: none;
  }

  #index2 .features .feature-text {
    max-width: 100%;
    padding-left: 0;
  }

  #index2 .final-cta {
    margin: 0 auto;
  }

  #index2 .final-cta .final-cta-text {
    padding-left: 0;
  }

  #index2 .final-cta .title {
    text-align: center;
  }

  #index2 .final-cta .final-cta-link {
    margin: 30px auto;
  }

  #index3 #header .logo img {
    margin: 0 auto;
  }

  #index3 .oval {
    display: none;
  }

  #index3 .main-header {
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  #index3 .main-abstract {
    max-width: 100%;
  }

  #index3 .testimonials {
    padding-top: 60px;
  }

  #index3 .testimonials .title {
    font-size: 28px;
  }

  #index3 .testimonials .testimonials-body {
    align-items: center;
    flex-direction: column;
  }

  #index3 .rating-container {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 100%;
  }

  #index3 .features {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  #index3 .features .feature {
    padding-bottom: 30px;
  }

  #index3 .features .features-text {
    padding-left: 0;
  }

  #index3 .features .feature-image {
    display: none;
  }

  #index3 .easy-steps .title {
    font-size: 28px;
    max-width: 100%;
  }

  #index3 .easy-steps .steps-container {
    padding-bottom: 0;
  }

  #index3 .easy-steps .step-numbers-container {
    display: none;
  }

  #index3 .easy-steps .bottom-line {
    display: none;
  }

  #index3 .facts {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  #index3 .facts .facts-container {
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    padding-top: 0;
  }

  #index3 .facts .fact-copy {
    max-width: 100%;
  }

  #index3 .final-cta {
    height: auto;
    padding-bottom: 30px;
    padding-top: 60px;
  }

  #index3 .final-cta .diamond-left {
    display: none;
  }

  #index3 .final-cta .diamond-right {
    display: none;
  }

  #index4 #header .logo img {
    margin: 0 auto;
  }

  #index4 .main-header .main-title {
    font-size: 36px;
  }

  #index4 .main-header-bottom-bg {
    display: none;
  }

  #index4 .issues-container {
    align-items: center;
    flex-direction: column;
  }

  #index4 .easy-steps .title {
    font-size: 30px;
    line-height: 1.2;
  }

  #index4 .easy-steps .step {
    max-width: 100%;
  }

  #index4 .easy-steps .step-image {
    display: none;
  }

  #index4 .features .title {
    font-size: 32px;
  }

  #index4 .features .feature-image {
    display: none;
  }

  #index4 .features .features-text {
    max-width: 100%;
    padding-bottom: 30px;
  }

  #index4 .features .feature {
    padding: 0;
  }

  #index4 .features .feature-text {
    padding-top: 15px;
  }

  #index4 .features .subtitle {
    font-size: 18px;
  }

  #index4 .facts {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  #index4 .facts .title {
    margin-bottom: 0;
  }

  #index4 .facts .detail {
    padding-bottom: 0;
  }

  #index4 .facts .facts-images {
    display: none;
  }

  #index4 .rating-container {
    flex-wrap: wrap;
    max-width: 100%;
    padding-top: 30px;
  }

  #index4 .testimonials .testimonial-text {
    padding-left: 0;
  }

  #index4 .testimonials {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  #index4 .testimonials .testimonial {
    align-items: center;
    flex-direction: column;
    padding-left: 0;
  }

  #index4 .final-cta {
    flex-direction: column;
  }

  #index4 .final-cta .title {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
  }

  #index5 #header {
    background: #ffe100;
  }

  #index5 #main .main-title {
    font-size: 40px;
  }

  #index5 .hero5 {
    display: none;
  }

  #index5 .cta {
    padding-top: 0;
  }

  #index5 .cta a {
    font-size: 16px;
    max-width: 100%;
  }

  #index5 .rating-container {
    flex-direction: column;
    max-width: 100%;
  }

  #index5 .easy-steps .title {
    font-size: 28px;
    max-width: 100%;
  }

  #index5 .testimonials .subtitle {
    font-size: 28px;
  }

  #index5 .testimonials-body {
    align-items: center;
    flex-direction: column;
  }

  #index5 .features {
    padding-left: 10px;
    padding-right: 10px;
  }

  #index5 .features .feature {
    max-width: 100%;
  }

  #index5 .features .subtitle {
    font-size: 16px;
  }

  #index5 .features .feature-image {
    display: none;
  }

  #index5 .features .detail {
    font-size: 14px;
    padding-left: 0;
  }

  #index5 .facts .facts-container {
    max-width: 100%;
  }

  #index5 .facts .fact-copy {
    max-width: 100%;
  }

  #index5 .facts .fact-image {
  }

  #index5 .facts .detail {
    max-width: 100%;
  }

  #index5 .final-cta .final-cta-link {
    max-width: 100%;
  }

  #index5 #footer {
    background-color: #ffe100;
    color: #333333;
  }

  #index5 #footer .footer-container {
    align-items: center;
    flex-direction: column;
  }

  #index5 #footer .footer-left {
    padding-right: 0;
    max-width: 100%;
  }

  #index5 #footer .nav-list {
    height: 9em;
    max-width: 100%;
  }

  #index5 #footer .nav-list li {
    line-height: 2em;
  }

  #index5 #footer .footer-bottom {
    flex-direction: column;
    max-width: 100%;
  }

  #index5 #footer .bottom-nav-list {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #direct .header-container {
    flex-direction: column;
  }

  #direct .header-title {
    order: 1;
  }

  #direct .main-title {
    font-size: 22px;
    text-align: center;
  }

  #direct .main-body {
    align-items: center;
    flex-direction: column;
  }

  #direct .main-left {
    max-width: 100%;
    padding-right: 0;
  }

  #direct .main-right {
    max-width: 100%;
  }

  #direct .available .title {
    font-size: 18px;
    text-align: center;
  }

  #direct .available .abstract {
    text-align: center;
  }

  #direct .available .select-start {
    flex-direction: column;
  }

  #direct .available .select-versions {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  #direct .available .size-time {
    flex-direction: column;
  }

  #direct .benefits .windows10-logo {
    position: static;
  }

  #direct .benefits .windows10-logo img {
    margin: 0 auto;
  }

  #direct .requirements .detail {
    font-size: 14px;
    max-width: 100%;
    padding: 1em;
  }

  #terms-of-service #main .main-title {
    font-size: 30px;
    margin: 30px auto 0;
  }

  #privacy-policy #main .main-title {
    font-size: 30px;
  }

  #uninstall #main .main-abstract {
    max-width: 100%;
  }

  #uninstall #main .main-body {
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    padding-right: 10px;
  }

  #uninstall #main .detail {
    text-align: left;
  }

  #faq #main .main-container > * {
    padding-left: 10px;
    padding-right: 10px;
  }

  #contact-us #main .main-abstract {
    max-width: 100%;
    width: 85%;
  }

  #contact-us #main .contacts {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  #contact-us #main .contact-form .input-label {
    margin: 25px 0 0 0;
  }

  #contact-us #main .contact-form .input-style {
    margin: 10px 0 0 0;
    width: 100%;
  }

  #contact-us #main .contact-form .textarea-style {
    margin: 10px 0 0 0;
    width: 100%;
  }

  #contact-us #main .contact-form .button-style {
    margin: 30px 0 0 0;
    width: 100%;
  }

  #comparison #main .comparison-chart thead th {
    padding-left: 5px;
  }

  #comparison #main .comparison-chart thead td {
    font-size: 14px;
    line-height: 1;
    min-width: 0;
  }

  #comparison #main .comparison-chart tbody th {
    padding-left: 5px;
  }

  #comparison #main .chart-download .download-button {
    display: none;
  }

  #comparison #main .chart-download .call-button {
    display: inline-block !important;
    margin: 0 auto;
  }

  #comparison #main .comparison-disclaimer {
    max-width: 100%;
  }

  #comparison #main .certification {
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
  }

  #comparison #main .certification .cert-image {
    order: -1;
  }

  #comparison #main .certification .title {
    padding: 0;
  }

  #comparison #main .certification .abstract {
    padding: 0;
    width: 100%;
  }

  #comparison #main .trusted .rating-container {
    flex-wrap: wrap;
    max-width: 100%;
  }

  #comparison #main .rating-reviewer a {
    width: auto;
  }

  #how-it-works .header-bg {
    background: transparent url("../images/herobg-mobile-600x151.png") 0 0 no-repeat;
    height: 151px;
    left: 0;
    overflow: hidden;
    top: 0;
    transform: translate(0, 0);
    width: 100%;
  }

  #how-it-works #main .main-title {
    color: #2f1453;
    text-align: center;
  }

  #how-it-works #main .main-abstract {
    color: #2f1453;
    margin: 30px auto 0;
    text-align: center;
    max-width: 100%;
  }

  #how-it-works #main .functions .abstract {
    margin: 22px auto;
    text-align: center;
    max-width: 100%;
  }

  #how-it-works #main .functions .function {
    padding: 0;
  }

  #how-it-works #main .function-text {
    max-width: 100%;
  }

  #how-it-works #main .functions .screenshot {
    margin: 0;
  }

  #how-it-works #main .functions .screenshot img {
    width: 100vw;
  }

  #how-it-works #main .benefits .abstract {
    margin: 20px auto 0;
    max-width: 100%;
  }

  #how-it-works #main .benefits .benefits-body {
    align-items: center;
    flex-direction: column;
  }

  #how-it-works #main .benefit-image img {
    margin: 0 auto;
  }

  #how-it-works #main .benefits .subtitle {
    text-align: center;
  }

  #how-it-works #main .benefits .benefit {
    width: 100%;
  }

  #user-reviews #main .main-abstract {
    text-align: center;
    max-width: 100%;
  }

  #user-reviews #main .data-counts {
    width: 100%;
  }

  #user-reviews #main .main-reviews-body {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  #unsub #main .main-container > * {
    padding-left: 10px;
    padding-right: 10px;
  }

  #compliance .partner-logo {
    position: static;
    width: 100%;
  }

  #compliance .partner-text {
    margin-top: 1.5em;
    padding-left: 0;
  }

  #articles #main .main-container > * {
    padding-left: 10px;
    padding-right: 10px;
  }

  #articles #main .main-title {
    margin: 30px auto 0;
  }

  #articles #main .main-abstract {
    width: 90%;
  }

  #articles #main .article-index {
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
  }

  #articles #main .article-text {
    margin: 30px auto 0;
    max-width: 100%;
  }

  .article #main .main-title {
    font-size: 30px;
    max-width: 100%;
  }

  .article #main .main-header-container {
    align-items: center;
    flex-direction: column;
  }

  .article #main .main-header-image {
    order: -1;
  }

  .article #main .main-header-text {
    margin: 0;
  }

  #speed-up-windows-10 .main-header-video iframe {
    height: 180px;
    width: 320px;
  }

  #speed-up-windows-7 #main .main-title {
    width: 85%;
  }

  #ccleaner-alternative #main .main-title {
    width: 90%;
  }

  #how-to-choose-free-pc-cleaner #main .main-title {
    width: 80%;
  }

  #delete-facebook-tracking-cookies #main .main-title {
    width: 75%;
  }

  #download-instructions #main .main-body {
    flex-direction: column;
  }

  #download-instructions #main .main-title {
    white-space: normal;
  }

  #download-instructions #main .download-steps ul {
    white-space: normal;
  }

  #download-instructions #main .credits {
    flex-wrap: wrap;
    max-width: 100%;
  }

  #download-instructions #main .credits img {
    margin: 10px;
  }

  #download-instructions .download-panel {
    display: none !important;
  }

  #download-instructions .download-arrow {
    display: none !important;
  }

  #download-help {
    padding: 10px;
  }

  #download-help .download-help-problem {
    white-space: normal;
  }

  #download-help .download-help-standing-by {
    white-space: normal;
  }

  #download-help .download-help-telephone {
    white-space: normal;
  }

  #download-help .download-help-available {
    white-space: normal;
  }

  #download-help .download-help-no-problem {
    white-space: normal;
  }

  #affiliates .main-body {
    max-width: 100%;
  }

  #affiliates .contact-form #input-website,
  #affiliates .contact-form #input-email,
  #affiliates .contact-form #input-addr1,
  #affiliates .contact-form #input-addr2,
  #affiliates .contact-form #input-city,
  #affiliates .contact-form #input-district,
  #affiliates .contact-form #input-postal-code,
  #affiliates .contact-form #input-country,
  #affiliates .contact-form #input-phone {
    width: 340px;
  }

  #affiliates .contact-form .textarea-style {
    width: 340px;
  }

  #chat #chat-widget-container {
    top: 0 !important;
  }

  .proofNotificationWrapper {
    display: none !important;
  }

  #percent-ten-day .main-text,
  #trialofferone .main-text {
    color: #212327;
    max-width: 100%;
    padding-top: 30px;
  }

  #percent-ten-day .main-title,
  #trialofferone .main-title {
    color: #212327;
    max-width: 100%;
  }

  #percent-ten-day .main-abstract,
  #trialofferone .main-abstract {
    max-width: 100%;
  }
}
